@-ms-viewport { width:device-width; }
html,body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var,  i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline;}
body{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; background: #fff; font-size: 12px;}
a:hover,a:focus{text-decoration: none; color: #2d3091;}
a,input,button{outline: 0;}
p{ font-size: 15px; color: #3e3e3e; line-height: 27px; margin: 10px 0; }

ul,li{list-style-type:none;}
/*input[type="checkbox"], input[type="radio"]{display: inline-block; margin: 0;vertical-align: top;}*/
.container {
    width: 98%;
}
.container-fluid { width: 100%; }
h1,h2,h3,h4,h5,h6 { margin: 0;}

.apx-table{background:#fff;/*padding:15px;border:1px solid #c9c9c9;*/border-radius:3px;}
.ui-widget-header{background:url('../images/apex-table-headbg.png') repeat-x !important;height:30px;border-color:#b3b3b3 !important;}
.apx-table .ui-jqgrid-title,.ui-jqdialog-title {color: #2D3091 !important;line-height: 21px !important; font-size: 13px;}
.apx-table .ui-th-column{background: #ffffff !important;
                         background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%) !important;
                         background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%) !important;
                         background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%) !important;
                         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ) !important;
                         color:#333 !important;
}
.apx-table .ui-th-column div{    margin: 9px 2px !important;}
.apx-table .ui-widget-content,.apx-table .ui-jqgrid tbody tr{border-color:#b3b3b3 !important;}


.apx-table .ui-state-default table{border-color:#b3b3b3 !important;}
.apx-table .ui-pager-control .ui-state-default{border-top: 1px solid #b3b3b3 !important;}
.apx-table  tr.jqgrow>td{padding:5px !important;}
.apx-table  .select_options{padding: 3px; height: 26px;}
.apx-table .ui-pager-control,.ui-widget td.EditButton .fm-button{background: #ffffff !important;
                                                                 background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%) !important;
                                                                 background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%) !important;
                                                                 background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%) !important;
                                                                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ) !important;
                                                                 border-color:#b3b3b3 !important; color: #585858 !important;}
.apx-table .ui-pager-control.ui-icon{ color: #585858 !important;}
.ui-widget-header .ui-icon,.ui-state-default .ui-icon,.apx-table .ui-widget-header .ui-icon,.apx-table .ui-state-default .ui-icon{background-image:url('../images/ui-icons_6da8d5_256x240black.png')!important;}
.apx-table .ui-jqgrid .ui-jqgrid-bdiv{    width: calc(100% - -1px) !important;}

.ui-jqgrid .ui-jqgrid-labels th.ui-th-column { font-size: 12px;}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td{ font-size: 12px;}
.apx-filtersbar .atoz-outer2 .apex-alphabets{background:none;}
/*UI Jquery Widget Override*/
.ui-widget td{padding:5px;}
.ui-widget td input[type="text"],.ui-widget td select{border:1px solid #b3b3b3;padding:5px;}
.ui-widget td.EditButton{float:none !important;text-align:left !important;}
.ui-widget td.EditButton:last-child{text-align:right !important;}
.ui-widget td hr{background:#b3b3b3 !important;border-color:#b3b3b3 !important;}
/*Theme Nav*/
.apx-topnav .nav li:nth-child(1):hover a:after,.apx-topnav .nav li:nth-child(1).active a:after{background:#70ffbe;}
.apx-topnav .nav li:nth-child(2):hover a:after,.apx-topnav .nav li:nth-child(2).active a:after{background:#fffc01;}
.apx-topnav .nav li:nth-child(3):hover a:after,.apx-topnav .nav li:nth-child(3).active a:after{background:#fc1616;}
.apx-topnav .nav li:nth-child(4):hover a:after,.apx-topnav .nav li:nth-child(4).active a:after{background:#fc00ff;}
.apx-topnav .nav li:nth-child(5):hover a:after,.apx-topnav .nav li:nth-child(5).active a:after{background:#00fffc;}
.apx-topnav .nav li:nth-child(6):hover a:after,.apx-topnav .nav li:nth-child(6).active a:after{background:#FFA500;}
.apx-topnav .nav li:nth-child(7):hover a:after,.apx-topnav .nav li:nth-child(7).active a:after{background:#00fffc;}
.apx-topnav .nav li:nth-child(8):hover a:after,.apx-topnav .nav li:nth-child(8).active a:after{background:#fc1616;}
.apx-topnav .nav li:nth-child(9):hover a:after,.apx-topnav .nav li:nth-child(9).active a:after{background:#fbd153;}


/* Buttons */
.btn {padding: 10px 12px; border-radius: 10px;}
.blue-btn{ background: #05A0E4; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.blue-btn:hover, .blue-btn:focus{ background: #1c91cc; color: #fff;}
.grey-btn{ background: #4d4d4d ; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.grey-btn:hover{ background: #222222; color: #fff;}
.green-btn{ background: #5CB85C ; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.green-btn:hover{ background: #47A447; color: #fff;}
.orange-btn{ background: #F0AD4E ; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.orange-btn:hover{ background: #ED9C28; color: #fff;}
.white-btn{ background: #fafafa ; color: #cb6a64; font-weight: 400; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 14px;}

.blue-link { color: #2d3091; }
.blue-link:hover, .blue-link:focus { color: #05A0E4; }
.grid-link { color: #05A0E4; text-decoration: underline; font-size: 13px; font-weight: bold; }
.grid-link:hover, .grid-link:focus { color: #05A0E4; text-decoration: underline; font-size: 13px; font-weight: bold; }
/* Buttons */

label {display: inline-block; position: relative; width: 100%; color: #585858; font-weight: 700; font-size: 13px; margin: 0 0 5px 0; }

html, body{ height: 100%;}

#wrapper { width: 100%; margin: 0 auto; min-height: calc(100vh - 41px); float: left;    }
.apxpg-login{ background: url(../images/body-bg.png);}
header { background: #d6f0fe; width: 100%; float: left;}
.logo{ float: left; margin: 5px 0; width: 100%;}
.hdr-rt{ float: left; width: 100%; text-align: right; padding: 2% 0;}
.hdr-rt .navbar-default .navbar-nav .open a{ color: #00adee; background: none;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu{ min-width: 106px; left: -13px; padding: 0; background: none;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li{ display: block; text-align: center; border-right: 0; border-bottom: 1px solid #97c1d8;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li a{ color: #fff; padding: 5px 0; display: block;  background: #00adee;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li a:hover{ background: #00a1de; }
.navbar-default{ min-height: auto; margin-bottom: 0; background: none; border: none;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li:last-child{ border-bottom: none;}

.hdr-rt .navbar-collapse { padding: 0;}
.hdr-rt .navbar-nav { width: 100%; text-align: right;}
.hdr-rt .navbar-nav li {display: inline-block; margin: 0 0% 0 1%; border-right: 1px solid #b4cad5; padding-right: 1%; float: none; font-size: 13px; font-weight: 600; }
.hdr-rt .navbar-nav li:last-child { border: none;}
.hdr-rt .navbar-nav li a{ color: #000; cursor: pointer;}
.hdr-rt .navbar-nav li a:hover, .hdr-rt .navbar-nav li a:focus { color: #00aced;}
.hdr-rt .navbar-nav li.active a { background: none; color: #00aced;}
.hdr-rt .navbar-nav li.active a:hover, .hdr-rt .navbar-nav li.active a:focus { background: none; color: #00aced;}
.hdr-rt .navbar-nav li .fa { margin-right: 5px;}
.nav li a { display: inline-block; padding: 0px;}
.navbar-header .navbar-toggle .icon-bar{ width: 7px; height: 7px; border-radius: 5px;}

.main-nav{ width: 100%; position: relative;
           float: left; background: #4c4fc3; /* Old browsers */
           background: -moz-linear-gradient(top, #4c4fc3 0%, #2d3091 100%); /* FF3.6-15 */
           background: -webkit-linear-gradient(top, #4c4fc3 0%,#2d3091 100%); /* Chrome10-25,Safari5.1-6 */
           background: linear-gradient(to bottom, #4c4fc3 0%,#2d3091 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4fc3', endColorstr='#2d3091',GradientType=0 ); /* IE6-9 */}
.main-nav .nav { width: 100%; margin: 0;}
.main-nav .navbar-header .icon-bar{ position: absolute; top: -51px; left: 10px;}
.main-nav .navbar-header .icon-bar .fa{ font-size: 35px; color: #2e3191;}
.main-nav .nav li:after { content:''; height: 100%; width: 1px; background: #4b4ec1; background: -moz-linear-gradient(top, #4b4ec1 0%, #4b4ec1 100%);  background: -webkit-linear-gradient(top, #4b4ec1 0%,#4b4ec1 100%);
                          background: linear-gradient(to bottom, #4b4ec1 0%,#4b4ec1 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4ec1', endColorstr='#4b4ec1',GradientType=0 );
                          position: absolute; right: 0; }
.main-nav .nav li:before { content:''; height: 100%; width: 1px;
                           background: #4b4ec1; background: -moz-linear-gradient(top, #4b4ec1 0%, #2d3092 100%);  background: -webkit-linear-gradient(top, #4b4ec1 0%,#2d3092 100%);
                           background: linear-gradient(to bottom, #4b4ec1 0%,#2d3092 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4ec1', endColorstr='#2d3092',GradientType=0 );
                           position: absolute; right: 0; }

.main-nav .nav li a{ color: #fff; line-height: 36px; padding: 0 20px;}
.main-nav .nav li a:hover, .main-nav .nav li a:focus{ background: #4f54d5; color: #fff;}

.main-nav .nav li.active a{ background: #4f54d5; color: #fff;}
.main-nav .nav li.active a:hover{ background: #4f54d5; color: #fff;}
.main-nav .nav li a:hover:after{ width: 100%; background: #30b4fa; content: ""; height: 3px; left: 0; position: absolute; bottom: 0; }
.main-nav .nav li.active a:after{ width: 100%; background: #30b4fa; content: ""; height: 3px; left: 0; position: absolute; bottom: 0; }

.main-nav .nav .nav-close { position: absolute; top: 5px; right: 10px; z-index: 999; cursor: pointer;}
.main-nav .nav .nav-close .fa{ color: #fff; font-size: 30px;}


.main-nav .nav li a:hover:after{ width: 100%; content: ""; height: 3px; left: 0; position: absolute; bottom: 0; }
.main-nav .nav li.active a:after{ width: 100%; content: ""; height: 3px; left: 0; position: absolute; bottom: 0; }

.main-nav .nav li a.spotlight:hover:after { background: #70ffbe;}
.main-nav .nav li.active a.spotlight:after { background: #70ffbe;}

.main-nav .nav li a.properties:hover:after { background: #fffc01;}
.main-nav .nav li.active a.properties:after { background: #fffc01;}

.main-nav .nav li a.people:hover:after { background: #fc1616;}
.main-nav .nav li.active a.people:after { background: #fc1616;}

.main-nav .nav li a.leases:hover:after { background: #fc00ff;}
.main-nav .nav li.active a.leases:after { background: #fc00ff;}

.main-nav .nav li a.maintenance:hover:after { background: #fbd153;}
.main-nav .nav li.active a.maintenance:after { background: #fbd153;}

.main-nav .nav li a.accounting:hover:after { background: #70ffbe;}
.main-nav .nav li.active a.accounting:after { background: #70ffbe;}

.main-nav .nav li a.communication:hover:after { background: #00fffc;}
.main-nav .nav li.active a.communication:after { background: #00fffc;}

.main-nav .nav li a.marketing:hover:after { background: #fff5c5;}
.main-nav .nav li.active a.marketing:after { background: #fff5c5;}

.main-nav .nav li a.reports:hover:after { background: #fc1616;}
.main-nav .nav li.active a.reports:after { background: #fc1616;}
/****** Main Navigation *******/

.welcome-text{ background: #2e3191; color: #fff; padding: 0px 25px; height: 50px; text-align: center;}
.welcome-text a {cursor: pointer;}
.welcome-text a .fa{ color: #fff; font-size: 18px; margin-right: 5px;}
.welcome-text-inner{ display: inline-block; margin-top: 10px;}
.welcome-text div[class^="col-"]{ padding: 0;}
.welcome-text .col-xs-9 { max-width: 300px;}
/*****Left Navigation ****/
#LeftMenu a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #c9c9c9; color: #585858; font-size: 14px; padding: 0;}
#LeftMenu a:hover{ background: #EFF9FF; }
#LeftMenu a.active{ background: #EFF9FF; border-color: #c9c9c9;}
#LeftMenu a .fa{ margin-right: 15px; border-right: 1px solid #c9c9c9; width: 40px; text-align: center; padding: 14px; color: #959595;}
#LeftMenu a:hover .fa{ color: #959595;}
.submenu-outer{ margin-left: 40px;}
#LeftMenu .sub-item{ padding: 14px; background: #fff;}
#LeftMenu .sub-item:last-child{ border-bottom: none;}
.content-data { padding: 15px; float: left; width: 100%; }


/*****Right Quick Links ****/
/*
#RightMenu { display: none; background: #fff; position: absolute; right: 0; max-width: 300px; border: 5px solid #393ca4; z-index: 8; }
#RightMenu h2{background: #e8e8e8;color: #393ca4;padding: 10px;font-size: 16px;text-transform: uppercase;font-weight: 700; }
#RightMenu a {border-bottom: 1px solid #c9c9c9; color: #585858; font-size: 14px; background: #fff; padding: 10px; }
#RightMenu a:hover{ color: #494cbe; }
#RightMenu a .fa{ margin-right: 15px; border-right: 1px solid #c9c9c9; width: 40px; text-align: center; padding: 14px; color: #959595;}
#RightMenu a:hover .fa{ color: #959595;}
.submenu-outer{ margin-left: 40px;}
#RightMenu .sub-item{ padding: 14px; background: #fff;}
#RightMenu .sub-item:last-child{ border-bottom: none;}
*/


/*Red right menu*/
.right-links-outer {    width: auto;
                        font-size: 5%;
                        line-height: 5%;
                        right: 0;
                        top: 20%;
                        position: fixed; z-index: 99; transition: all 0.8s;}
#RightMenu { background: #fff; position: relative; float: left; width: 230px; border: 5px solid #393ca4; z-index: 8; }
#RightMenu h2{background: #e8e8e8;color: #393ca4;padding: 15px;font-size: 16px;text-transform: uppercase;font-weight: 700; }
#RightMenu a { border-bottom: 1px solid #c9c9c9; color: #585858; font-size: 14px; background: #fff; padding: 15px; width: 100%; float: left; line-height: normal; }
#RightMenu a:hover{ color: #494cbe; }
#RightMenu a .fa{ margin-right: 15px; border-right: 1px solid #c9c9c9; width: 40px; text-align: center; padding: 14px; color: #959595;}
#RightMenu a:hover .fa{ color: #959595;}
.submenu-outer{ margin-left: 40px;}
#RightMenu .sub-item{ padding: 14px; background: #fff;}
#RightMenu .sub-item:last-child{ border-bottom: none;}
#RightMenu .panel{ margin-bottom: 0;}
#RightMenu .list-group{  max-height: 400px; overflow:auto; }
.show-links { right: 0px;}
.hide-links {  right: -230px;}
.fa-angle-left, .fa-angle-right { display: none; }
.show-links .fa-angle-right{ display: block;}
.hide-links .fa-angle-left{ display: block;}

.left-links{ position: absolute; display: none; left: 0; top: 10px; cursor: pointer; z-index: 9; background: #ddd; padding: 5px; border-radius: 0 5px 5px 0px;}
.left-links i{font-size: 20px;}
.logo{ text-align: center;}

.right-links{ position: fixed; background: #f00; height: 40px;width: 28px;text-align: center; padding-top: 3px; right: 0;  cursor: pointer; z-index: 9; margin-left: -28px; border-radius: 5px 0px 0px 5px; float: left;}
.right-links i{font-size: 33px; color: #fff; text-align: center;}
/*Red right menu 04-06-19*/



/*****Right Quick Links ****/

#RightMenu { display: none; background: #fff; position: absolute; right: 0; max-width: 300px; border: 5px solid #393ca4; z-index: 8; }
#RightMenu h2{background: #e8e8e8;color: #393ca4;padding: 10px;font-size: 16px;text-transform: uppercase;font-weight: 700; }
#RightMenu a {border-bottom: 1px solid #c9c9c9; color: #585858; font-size: 14px; background: #fff; padding: 10px; }
#RightMenu a:hover{ color: #494cbe; }
#RightMenu a .fa{ margin-right: 15px; border-right: 1px solid #c9c9c9; width: 40px; text-align: center; padding: 14px; color: #959595;}
#RightMenu a:hover .fa{ color: #959595;}
.submenu-outer{ margin-left: 40px;}
#RightMenu .sub-item{ padding: 14px; background: #fff;}
#RightMenu .sub-item:last-child{ border-bottom: none;}




.flex-container {display: flex;}
.main-content{ width: 100%; float: left; min-height: calc(100vh - 40px);}
.main-content-lt { background-color: #eee; min-height: calc(100vh - 40px);}
.main-content-lt, .main-content-rt{ padding: 0; flex: 1 auto;}
.main-tabs{ width: 100%; float: left; position: relative; padding-bottom: 30px;}
.content-rt{ width: 100%;}
.content-rt-hdr { width: 100%; float: left;border-bottom: 1px solid #D8D8D8;padding: 10px; margin-bottom: 15px;}
.content-rt-hdr h3{ font-size: 15px; color: #2d3091;}

.main-tabs .nav-tabs { border-bottom: 1px solid #B7B7B7;}
.main-tabs .nav-tabs li{ margin-bottom: 0;}
.main-tabs .nav-tabs li a {background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #d8f1fe 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#d8f1fe 100%);background: linear-gradient(to bottom, #ffffff 0%,#d8f1fe 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8f1fe',GradientType=0 ); border: 1px solid #b7b7b7; border-radius: 10px 10px 0px 0px; border-bottom: none; color: #4a4ed4; padding: 8px; font-size: 13px; font-weight: 700;}
.main-tabs li a:hover{ background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #d8f1fe 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#d8f1fe 100%);background: linear-gradient(to bottom, #ffffff 0%,#d8f1fe 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8f1fe',GradientType=0 ); border: 1px solid #b7b7b7; border-bottom: none;}
.main-tabs .nav-tabs li.active a, .main-tabs .nav-tabs li.active a:focus, .main-tabs .nav-tabs li.active a:hover{  background: #068ad1; font-weight: 700; color: #fff; border: 1px solid #068ad1; border-bottom: none;}

.sub-tabs .nav-tabs li a {background: #f1f1f1; border: 1px solid #b7b7b7; border-radius: 3px 3px 0px 0px; border-bottom: none; color: #585858; padding: 8px; font-size: 12px; font-weight: 600;}
.sub-tabs .nav-tabs li.active a, .sub-tabs .nav-tabs li.active a:focus, .sub-tabs .nav-tabs li.active a:hover{  background: #ffffff; font-weight: 700; color: #585858; border: 1px solid #b7b7b7; border-bottom: none;}

.tab-content { padding-top: 20px;}

.form-outer{ width: 100%; float: left; margin-bottom: 20px;}
.form-hdr{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+100 */
    position: relative;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ border: 1px solid #d0d0d0; border-bottom: none; border-radius: 5px 5px 0px 0px; padding: 10px;}
.form-hdr h3{  color: #2d3091; font-size: 15px; font-weight: bold;}
.form-data{ width: 100%; float: left; padding: 15px; border: 1px solid #d0d0d0; border-radius: 0px 0px 5px 5px;}

.form-outer div[class^="col-"] {
    min-height: 75px;
}
.form-outer2 div[class^="col-"] {
    min-height: auto;
}


/*.left-links{ position: absolute; display: none; left: 0; top: 7px; cursor: pointer; z-index: 9; background: #ddd; padding: 9px; border-radius: 0 5px 5px 0px;}
.left-links i{font-size: 20px;}

.right-links{ position: absolute; background: #d6f0fe; right: 0; top: 7px; cursor: pointer; z-index: 9; padding: 9px; border-radius: 5px 0px 0px 5px;}
.right-links i{font-size: 20px;}*/





.flex { display: flex; }
footer{ background: #585858; float: left; width: 100%; text-align: center; color: #fff; padding: 12px; font-size: 14px; }

/*****Login Page*****/
.login-bg { min-height: calc(100vh - 40px); display: flex; align-items: center; width: 100%;}
.login-outer{ max-width: 580px; margin: 50px auto;}
.login-logo{ width: 100%; text-align: center;}
.login-logo img{ max-width: 100%;}
.login-inner{ box-shadow: 0 0 2px 3px #EBEBEB; margin-top: 20px; border-radius: 5px; overflow: hidden;}
.login-inner h2{ background: #d6f0fe; color: #2d3091; width: 100%; font-size: 18px; text-transform: uppercase; font-weight: 600; text-align: center; padding: 2% 0;}
.login-data{ padding: 5% 10%; width: 100%; float: left; background: #fff;}
.login-data label{ min-height: 50px;}
.login-data label label{ min-height: auto;}


.login-data .form-control{ box-shadow: 0px 0px 15px #DDDDDD inset;}
.remember-psw { float: left; width: 100%;}
.remember-psw-lt{ float: left;}
.remember-psw-rt{ float: right;}
.btn-outer{ width: 100%; margin-top: 10px; float: left;}
#click_here_login_link {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    float: left;
}
#click_here_login_link p {
    font-size: 12px;
    margin: 0;
}
#click_here_login_link a {
    color: #040cff;
}

/*****Login Page*****/

.bread-search-outer{ border-bottom: 1px solid #D8D8D8; padding: 0 15px 15px 15px; float: left; width: 100%; }
.breadcrumb-outer{ float: left; width: 100%; margin: 15px 0 0 0; font-size: 14px;}
.breadcrumb-outer span{ color: #2d3091;}
.easy-search{ float: right; width: 100%; text-align: right; margin-top: 8px; margin-right: 25px;}
.easy-search input{ border: 1px solid #ddd; border-radius: 10px; padding: 7px; max-width: 200px; width: 100%;}


.grid-outer{ width: 100%; float: left; margin: 0px;}
.grid-outer .table {border-left: 1px solid #ddd; border-top: 1px solid #ddd; margin-bottom: 0;}
.grid-outer .table tr:nth-child(even) { background: #f6f6f6;}
.grid-outer .table tr:hover { background: #EFEFEF;}
.grid-outer .table th{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,efefef+100 */
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #efefef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefefe 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefefe 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */;
    border-right: 1px solid #ddd; font-weight: 600; font-size: 11px; color: #585858;
}

.grid-outer .table td{ border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; line-height: 20px;  /**override-jqgrid properties**/   white-space: normal !important;
                       vertical-align: top !important;}


.accordion-outer { width: 100%; float: left;}
.accordion-grid .accordion-outer #accordion .panel-heading{
    padding: 10px;
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

}

.accordion-form .accordion-outer #accordion .panel-heading{
    position: relative;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfc 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */}

.accordion-form .panel-title { color: #5E5E5E; }
.accordion-form .panel-title a { display: block; color: #2D3091; font-weight: 600; font-size: 15px;}
.accordion-form .panel-title a:hover { color: #2D3091;}
.accordion-form .panel-title a .glyphicon{ font-weight: 700; top: 3px; margin-right: 5px;}
.accordion-grid .panel-title { font-size: 13px; color: #2D3091; font-weight: 600;}
.accordion-grid .panel-title a { display: block; color: #2D3091; font-size: 13px;}
.accordion-grid .panel-title a:hover { color: #2D3091;}




.accordion-outer .panel{ margin-bottom: 20px;}
.accordion-grid .accordion-outer #accordion .panel-heading a.back:hover, .accordion-outer #accordion .panel-heading a.back:focus{color: #2d3091;}
.accordion-form .accordion-outer #accordion .panel-heading a.back:hover, .accordion-outer #accordion .panel-heading a.back:focus{color: #2d3091;}
.accordion-form .panel-heading a.back { color: #2d3091; font-size: 13px; font-weight: 700; position: absolute; right: 10px; top: 10px;}

.pop-add-icon { color: #333;}
.pop-add-icon:hover {color: #333;}
.pop-add-icon .fa { font-size: 16px; }
.status-outer { border: 1px solid #c9c9c9; box-shadow: -1px 1px 7px 2px #DDDDDD inset; width: 100%; float: left;}

.preference-check-inner { width: 100%; float: left; margin: 10px 0 15px 20px; min-height: 30px;}
.preference-check-inner label { font-weight: 400; }
/*****16jan*****/
.add-icon { color: #333; float: left; margin: 6px 1% 1% 2%; width: 5%; }
.add-icon .fa { font-size: 16px; }
.dashboard-graph { width: 100%; margin: 20px 0; float: left; border: 1px solid #d0d0d0; border-radius: 5px;}
.dashboard-graph-hdr {padding: 5px 10px; border-bottom: 1px solid #d0d0d0; background: #fcfcfc; /* Old browsers */
                      background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%); /* FF3.6-15 */
                      background: -webkit-linear-gradient(top, #fcfcfc 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
                      background: linear-gradient(to bottom, #fcfcfc 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
                      border-radius: 5px 5px 0 0;
}
.dashboard-graph-hdr h3 { line-height: 30px;   color: #2d3091; font-weight: bold; font-size: 15px;}
.dashboard-graph-hdr .blue-btn { margin-bottom: 5px; }
.dashboard-graph-data { background: #fff; padding: 10px; text-align: center; min-height: 320px; border-radius: 0 0 5px 5px;}
.dashboard-graph-data img{ max-width: 100%;}
.setting-image { width: 40px; }
.dash-setting { margin: 10px 0 0 0; }
.notification-icon { position: absolute;right: 25px;top: 11px;}
.content-section { padding-top: 20px; }
.property-status {float: left; width: 100%; padding-bottom: 20px; /*padding-right: 25px;*/}
.property-status .btn-outer { margin: 0; }
.atoz-outer { position: absolute; right: 50px; top: 0; font-size: 16px; color: #05A0E4; padding-right: 11px; }
.atoz-outer span{ background: #05A0E4; padding: 5px; color: #fff; margin-left: 5px;}
.atoz-outer2 { width: 100%; float: left; font-size: 16px; text-align: right; margin-top: 15px; color: #05A0E4; padding-right: 11px; }
.atoz-outer2 span{ background: #05A0E4; padding: 5px; color: #fff; margin-left: 5px;}
.pad-none { padding: 0; }
.red-star { color: red; }
label.error {  color: red;
               font-size: 12px;
               font-weight: 500;}
.textarea-form { min-height: 110px !important; }
.modal-header {padding: 5px 10px; border-bottom: 1px solid #d0d0d0; background: #fcfcfc; /* Old browsers */
               background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%); /* FF3.6-15 */
               background: -webkit-linear-gradient(top, #fcfcfc 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
               background: linear-gradient(to bottom, #fcfcfc 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
               border-radius: 5px 5px 0 0;}
.modal-title { color: #2d3091; font-weight: 600; font-size: 15px; }

.modal-header .close{ color: #0d9de3;  opacity: 1; font-weight: 300; border: 1px solid #0d9de3; border-radius: 50%; width: 20px;
                      height: 20px; line-height: 18px; margin-top: 0;}

.spotlight-pop { width: 800px; }
/*.modal-body label { font-size: 16px; font-weight: 400; }*/
.add-input { float: left; width: 90%; }
/*****16jan*****/
/****Toggle Switch ***/
.switch {position: relative; display: inline-block; width: 55px; height: 28px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before {position: absolute; content: ""; height: 20px; width: 20px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }

/* Rounded sliders */
.slider.round { border-radius: 34px;}
.slider.round:before { border-radius: 50%;}
.rating-star .fa-star{ color: #ffe036; font-size: 25px;}
.rating-star .fa-star-o{ font-size: 25px;}
.tab-count { color: #05A0E4; display: block; text-align: center; }

.check-outer{ width: auto; float: left; margin-right: 2%; margin-top: 7px; }
.check-outer input[type="checkbox"], .check-outer input[type="radio"]{ width: auto; float: left; margin: 2px 0 0 0; }
.check-outer label{ width: auto; float: left; margin-left: 5px; }
.check-outer em { font-size: 10px; color: #ff0000; font-style: inherit; margin-left: 10px; }

.check-input-outer{ width: auto; float: left; margin-right: 2%; margin-top: 7px; }
.check-input-outer input[type="checkbox"], .check-input-outer input[type="radio"]{ width: auto; display: inline-block; vertical-align: text-top; }
.check-input-outer label{ width: auto; display: inline-block; margin-left: 5px; }
.check-input-outer span { width: auto; display: inline-block; margin-left: 5px; }

.latefee-check-outer { width: 100%; float: left; margin-bottom: 20px; }
.blue-label { color: #2d3091;}

.div-full {width: 100%; float: left; padding: 15px;}
.notes { width: 100%; min-height: 150px; }
.add-icon-textarea {color: #333; position: absolute; right: -2px; bottom: 0;}
.add-icon-textarea .fa { font-size: 16px; }
.dashboard-graph-hdr .blue-btn { font-size: 12px; padding: 7px 10px; }
.mi-name .mi-name-lt{ width: 25%; float: left; }
.mi-name .mi-name-rt{ width: 70%; float: right; }
.upload-logo{ width: 100%; float: left; margin-bottom: 20px; }
.upload-logo .img-outer{ width: 70px; height: 70px; background: #d4d4d4; float: left;}
.upload-logo a{ display: block; float: left; margin: 20px 10px;}
.upload-logo a .fa{ color: #333; font-size: 18px; margin-right: 5px; }
.upload-logo span{ width: 100%; float: left; }
.collaps-subhdr { width: 100%; float: left;}
.collaps-subhdr h3{ width: 100%; float: left; border-bottom: 1px solid #ddd; color: #2d3091; font-weight: 700; font-size: 15px; padding-bottom: 5px; margin: 0 0 10px 0; }
.grey-box-add { width: 100%; float: left; margin-bottom: 20px;}
.grey-box-add-inner { width: 100%;  display: flex;
                      align-items: center;
                      justify-content: center;}
.grey-box-add-lt { width: 95%; flex: 1 auto;  background: #f3f3f3; padding: 20px;}
.grey-box-add-rt { width: 5%; flex: 1 auto; padding-left: 1%;}

.name-id-greybox { background: #f3f3f3; float: left; padding: 20px;}
.name-id-greybox label{ float: left; width: auto; margin: 0; color: #2d3091;}
.name-id-greybox span{ float: left; width: auto;  margin: 0 0 0 5px; line-height: 17px; color: #717171; font-weight: 600;}
.name-id-greybox-inner{ float: left; width: auto; margin: 0 20px 0 0; padding-right: 20px; border-right: 1px solid #adadad;}
.name-id-greybox-inner:last-child{ border: none; margin: 0; padding: 0; }

.photo-upload { background: #f6f6f6; width: 100%; padding: 5px 10px; margin-bottom: 20px; }
.photo-upload label, .photo-upload2 label{ color: #2d3091;  font-weight: 600; width: 50%; line-height: 30px; margin: 0;}

.check-availability { background: #eef9f9; width: 100%; float: left; padding: 10px 0; margin-bottom: 20px;}
.text-green {color: #3c763d; margin-right: 10px;}
.text-red { color: #a94442; margin-left: 10px;}
.check-availability .text-green, .check-availability .text-red{ float: left; }
.filter-label { line-height: 30px; text-align: left; width: auto; float: left; }

.view-outer label{ width: 50%; text-align: right; float: left; padding: 5px 10px;}
.view-outer span{ text-align: left; width: 50%; float: left; padding: 5px 0; font-size: 13px;
                  color: #585858;}


/* start-----raghav  23-01-2018*/
.checkbox-outer { width: 100%;float: left;padding: 0 15px;}
.checkbox-outer label {float: left;width: auto;margin-left: 5px;}
.checkbox-outer input {float: left;}
/* end-----raghav  23-01-2018*/

/* start-----raghav  25-01-2018*/
.easy-search {
    width: 250px;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
}
/* end-----raghav  25-01-2018*/

/* parvesh start 15-04-19 */
.title-color{color: #2d3091 !important; cursor: auto;}
.time-format{  color: #a8a8a8;font-family: 'Merriweather Sans' , sans-serif;font-size: 13px;font-weight: 700  ;}
#cancel_modal .modal-content{border-radius: 2px;}
#cancel_modal .modal-content .modal-header{background: #05A0E4; border-radius: 0px;}
#cancel_modal .modal-content .modal-header .modal-title{color: #ffffff;}
#cancel_modal .modal-content .modal-footer .no-cancel{background: #2A2A2A;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;}
#cancel_modal .modal-content .modal-footer .yes-cancel{background: #05A0E4;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;}
#cancel_modal .modal-content .modal-footer{padding: 0px 12px 10px 0px; border-top: 0px;}
#cancel_modal .modal-content .modal-body{padding-bottom: 5px;}
#cancel_modal .modal-content .modal-body p{font-size: 12px; vertical-align: middle;}
#cancel_modal .modal-content .modal-body p img{width: 20px;vertical-align: middle;}
.add_users_list{display: none;}
.blue-btn{background: #05A0E4; border-radius: 5px; color: #ffffff; font-size: 13px;font-weight: bold; padding: 8px 15px; margin-right: 1%;cursor: pointer;}
#changepassword .modal-footer{text-align: center;}
#changepassword .modal-dialog{max-width: 400px;}
#changepassword .modal-dialog label{font-weight: bold;}
/* parvesh end 15-04-19 */

/*26TH APRIL STARTS*/
/*Modal Overwrite*/
.bootbox .modal-dialog{    display: flex;height: calc(100% - 60px);align-items: center;justify-content: center;}
.bootbox .modal-content{width:400px;background:transparent;}
.bootbox .modal-body {background-color: #05A0E4;border-radius:6px 6px  0 0;color:#fff;}
.bootbox .bootbox-close-button{color:#fff;opacity: 1;margin-top: -4px !important;}
.bootbox .modal-footer{background:#fff;border-radius: 0 0 6px 6px;}
.bootbox .modal-footer .btn{border-radius:0;padding:5px 10px;border:0;color:#fff;}
.bootbox .modal-footer .btn-primary{background:#05A0E4;}
.bootbox .modal-footer .btn-default{background:#585858;}
.modal-footer button {
    float:right;
    margin-left: 10px;
}

/*26TH APRIL ENDS*/

.green_row_left{
    border-left: 3px solid rgb(0, 255, 0) !important;
}

.green_row_right{
    border-right: 3px solid rgb(0, 255, 0) !important;
}
ul#help-submenu {
    position: absolute; margin: 0 0 0 -40px; width: 120px !important; padding: 0;
}
ul#help-submenu li {
    padding: 0 5px; color: rgb(255, 255, 255) !important; position: relative; z-index: 999; height: auto; background: rgb(214, 240, 254) none repeat scroll 0% 0%; border: 1px solid rgb(5, 160, 228); text-align: center; line-height: 16px; width: 100%;
}
ul#help-submenu li a {
    padding: 5px 0px; margin: 0px; line-height: 16px; color: rgb(5, 160, 228); font-size: 12px; width: 100%; display: block;
}

ul#support-submenu  {
    position: absolute; margin: 0 0 0 -28px; width: 120px !important;
}
ul#support-submenu li {
    padding: 0 5px; color: rgb(255, 255, 255) !important; position: relative; z-index: 999; height: auto; background: rgb(214, 240, 254) none repeat scroll 0% 0%; border: 1px solid rgb(5, 160, 228); text-align: center; line-height: 16px; width: 100%;
}
ul#support-submenu li a {
    padding: 5px 0px; margin: 0px; line-height: 16px; color: rgb(5, 160, 228); font-size: 12px; width: 100%; display: block;
}
.notiTxt-dd {
    width: 100%; float: left; padding: 0;
}
.notiTxt-dd li {
    font-size: 12px; list-style: none; height: auto !important; line-height: normal!important; font-weight: normal; background: none !important;
}
.notiTxt-dd li.divider {
    padding: 0;  background-color: #bdbbbb !important;  height: 1px !important;  margin: 9px 0 !important; overflow: hidden; width: 100%; float: left;
}
.arrow_box {
    position: absolute; top: 40px; background: #fafafa; border: 1px solid #e8e7d5; width: 208px; padding: 5px; z-index: 20; max-height: 500px;
}
.arrow_box:after,
.arrow_box:before {
    bottom: 100%; left: 25%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute;    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(250, 250, 250, 0); border-bottom-color: #fafafa; border-width: 14px; margin-left: -14px;
}
.arrow_box:before {
    border-color: rgba(232, 231, 213, 0); border-bottom-color: #e8e7d5; border-width: 15px; margin-left: -15px;
}
ul#BubbleDrop {
    position: relative; border: none; box-shadow: none; left: 0;
}

#addAmenityFormId label#type-error {
    margin-top: 25px;
    position: absolute;
    margin-left: -15px;
}
.company_calendar{
    position: relative; display: inline-table; vertical-align: top; margin: -6px 0 0 6px;
}
.company_calendar img{
    margin-bottom: -10px; width: 100%; max-width: 35px;
}
h4#hCalendarDate {
    position: absolute; top: 12px; font-size: 14px; color: #1b1a1a; left: 0; right: 0; margin: auto; bottom: 0; text-align: center; font-weight: 600;
}
.cls-spnFlag {
    color: yellow; cursor: pointer; padding-top: 6px; float: left; width: 100%;
}
.cls-dv-Flag {
    background: red; width: 30px; height: 30px; float: left; border-radius: 50%;
    margin-right: 2px; margin-top: 1px; text-align: center;
}
.new-apex-data {
    background: #fff none repeat scroll 0 0; float: left; margin: 0; padding: 2%; max-height: 500px; overflow: auto;
}
.new-apex-inner {
    background: #f9f9f9 none repeat scroll 0 0; float: left; padding: 10px; margin-bottom: 15px; width: 100%;
}
.new-apex-data h3 {
    color: #4d4d4d; font-weight: 700; margin: 0; text-align: left;
}
.new-apex-data p {
    margin: 0; padding: 0;
}
.new-apex-link {
    float: left; margin-top: 0; width: 100%;
}
.new-apex-link a {
    color: #05a0e4; text-decoration: none;
}
.div-new-feedback {
    background: #fff none repeat scroll 0 0; border: 1px solid #dadada; box-sizing: border-box; display: none; float: left; margin-top: 10px; padding: 2%; transition: opacity 1s ease 0s; width: 100%;
}
div#myModalApexNew .modal-dialog.modal-sm {
    width: 600px;
}
#myModalApexNew .div-new-feedback {
    background: #fff none repeat scroll 0 0; border: 1px solid #dadada; box-sizing: border-box; display: none; float: left; margin-top: 10px; padding: 2%; transition: opacity 1s ease 0s; width: 100%;
}
#myModalApexNew .div-new-feedback label {
    width: 100%; float: left;
}
#myModalApexNew .div-new-feedback span {
    width: 100%; float: left;
}
#myModalApexNew .div-new-feedback span textarea {
    width: 100%; border: 1px solid #dadada; border-radius: 5px; margin-top: 5px; box-sizing: border-box; min-height: 90px; overflow: auto; resize: none;
}
#myModalApexNew .btn-outer input {
    background: none repeat scroll 0 0 #05A0E4; border: medium none; border-radius: 5px 5px 5px 5px; color: #FFFFFF; float: left; font-size: 13px; font-weight: bold; padding: 8px 15px; width: auto; margin-right: 1%; cursor: pointer;
}
#myModalApexNew .btn-black {
    background: none repeat scroll 0 0 #4d4d4d !important; border: medium none; border-radius: 5px 5px 5px 5px; color: #FFFFFF; float: left; font-size: 13px; font-weight: bold; padding: 7px 15px; width: auto; cursor: pointer;
}


div#myModalSupportRequest .modal-dialog.modal-sm { width: 540px;}
div#myModalSupportRequest .support-data { padding: 12px; }
div#myModalSupportRequest .support-data label{ font-size: 13px; font-weight: bold;}
div#myModalSupportRequest .support-data input{ width: 240px; margin-bottom: 15px;}
div#myModalSupportRequest .support-data .subject_class{ width: 515px; margin-bottom: 15px;}
div#myModalSupportRequest .support-data button{ margin-top: 15px; margin-bottom: 15px;}

div#myModalSuggestFeature .modal-dialog.modal-sm { width: 540px;}
div#myModalSuggestFeature .support-data { padding: 12px; }
div#myModalSuggestFeature .support-data label{ font-size: 13px; font-weight: bold;}
div#myModalSuggestFeature .support-data input{ width: 240px; margin-bottom: 15px;}
div#myModalSuggestFeature .support-data .subject_class{ width: 515px; margin-bottom: 15px;}
div#myModalSuggestFeature .support-data button{ margin-top: 15px; margin-bottom: 15px;}

div#helpThird .col-sm-12 {
    float: none;
}

.existplan_outer .existPlan_buttons{width: 21%; float: right;}
/*jqgrid css 08-04-19 harjinder*/
.ui-widget-header{background:url('../images/apex-table-headbg.png') repeat-x !important;height:30px;border-color:#b3b3b3 !important;}
.apx-table .ui-jqgrid-title,.ui-jqdialog-title {color: #2D3091 !important;line-height: 21px !important;}
.apx-table .ui-widget-content,.apx-table .ui-jqgrid tbody tr{border-color:#ddd !important;}
.apx-table .ui-jqgrid .ui-jqgrid-bdiv{    width: calc(100% - -1px) !important;}
.apx-plantable .ui-jqgrid-hdiv thead th:last-child,#Plans-table  tbody tr td:last-child{width:100px !important;}
.ui-jqgrid-pg-right{text-align:right !important}
.ui-jqgrid-pg-right .ui-paging-info{float:right;padding-right:10px;}
.filter-flex.apx-filtersbar .left label{flex-basis: 60px;}
.ui-jqgrid-hbox{width:100%;}
/*jqgrid css 08-04-19 end*/

.lost-found-items { display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; margin-bottom: 20px; }
.lost-found-columns { width: 24%; flex: 1; text-align: center; padding: 2% 0;}
.lost-found-columns:nth-child(1) { background: #cb6a64; }
.lost-found-columns:nth-child(2) { background: #3e679b; }
.lost-found-columns:nth-child(2) .white-btn{ color: #1d4578; }
.lost-found-columns:nth-child(3) { background: #71b58c; }
.lost-found-columns:nth-child(3) .white-btn{ color: #429262; }
.lost-found-columns:nth-child(4) { background: #54c0dc; }
.lost-found-columns:nth-child(4) .white-btn{ color: #0d84be; }
.lost-found-columns .count { font-size: 60px; color: #fff;}
.lost-found-columns label { color: #fff; font-size: 20px; text-transform: uppercase; font-weight: 400; margin: 0px 0 10px 0;}

.panel-title {
    color: #2D3091;
    font-size: 13px;
    font-weight: 600;
}
.heading-above-btn {
    width: 100%; float: left; margin-bottom: 10px;
}
.clear { clear: both; }

.reports-outer { width: 100%; float: left;}
.reports-column { width: 100%; float: left;}
.reports-column h3 { width: 100%; float: left; font-size: 15px; border-bottom: 1px solid #DADADA; padding-bottom: 3px; margin: 10px 0px; font-weight: bold;}
.reports-column ul { width: 100%; margin: 0; padding: 0;}
.reports-column ul li { float: left; width: 100%; margin: 0; padding: 0 10px; list-style-type: none; border-bottom: 1px dotted #DADADA; line-height: 30px;}
.reports-column ul li:hover { background: #EDEDED;}
.reports-column ul li a { color: #428BCA; }
.reports-column ul li a:hover { background: none; border: none; }

#account-paybill .check-outer{ margin-top: 0; }

/**13/5/2019***/
#add_property_type .apx-table{ border: none; padding: 0;}
.notiTxt-dd #BubbleDrop li {
    font-weight: 400;
    color: #585858;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #bdbbbb;
}
.notiTxt-dd #BubbleDrop li strong {
    font-weight: 600;
}
.notiTxt-dd #BubbleDrop li:last-child {
    border-bottom: none;
}
.notiTxt-dd #BubbleDrop li a {
    background: none; float: left; color: #000; padding: 0;
}
.notiTxt-dd #BubbleDrop li a:hover {
    color: #00aced;
}
.main-nav .nav li a.spotlight:hover:after { background: #70ffbe;}
.main-nav .nav li.active a.spotlight:after { background: #70ffbe;}

.main-nav .nav li a.properties:hover:after { background: #fffc01;}
.main-nav .nav li.active a.properties:after { background: #fffc01;}

.main-nav .nav li a.people:hover:after { background: #fc1616;}
.main-nav .nav li.active a.people:after { background: #fc1616;}

.main-nav .nav li a.leases:hover:after { background: #fc00ff;}
.main-nav .nav li.active a.leases:after { background: #fc00ff;}

.main-nav .nav li a.maintenance:hover:after { background: #fbd153;}
.main-nav .nav li.active a.maintenance:after { background: #fbd153;}

.main-nav .nav li a.accounting:hover:after { background: #70ffbe;}
.main-nav .nav li.active a.accounting:after { background: #70ffbe;}

.main-nav .nav li a.communication:hover:after { background: #00fffc;}
.main-nav .nav li.active a.communication:after { background: #00fffc;}

.main-nav .nav li a.marketing:hover:after { background: #fff5c5;}
.main-nav .nav li.active a.marketing:after { background: #fff5c5;}

.main-nav .nav li a.reports:hover:after { background: #fc1616;}
.main-nav .nav li.active a.reports:after { background: #fc1616;}

.maintenance-logo {
    margin: auto; display: inline-block; text-align: center;
}
.logo-txt {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}
.closeAnnouncementmodal .modal-body h4{
    font-size: 15px;
}
#underLogo {
    margin: auto;
}
.ui-widget-header {
    padding: 8px !important;
    background: #ececec !important;
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%) !important;
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%) !important;
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ) !important;
    height: auto;
}
.panel-title .fa-angle-down {
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
}



.check-outer-frst { font-size: 13px; color: #585858; font-weight: 700;}
.check-outer-frst input:first-child{ margin-right: 5px; margin-top: 2px; margin-top: 2px; vertical-align: bottom;}
#collapseOne .preference-check-inner .check-outer-new{width: 100%;float: left;margin-right: 2%; margin: 20px 0; font-weight: 400;}
#collapseOne .preference-check-inner .check-outer-new input{margin-right: 1%;}
.check-outer-top .preference-check-inner::before li{color:red;}
#email_signature #collapseOne .form-outer label{ display: inline !important;}
.editor-email-signature { margin-top: 15px;}
#formSettings .accordian { margin-top: 0;}
.renew_plan_data p { margin: 0;}
.renew_plan_data span { font-weight: 600;}
.renew_plan_data { float: left; margin-left: 15px; width: auto;}
.greyhdr-box-top {background: none repeat scroll 0 0 #ddd; box-sizing: border-box; float: left; margin-top: 20px; padding: 10px; width: 100%; }
.greyhdr-box-top h2 {float: left; font-size: 18px; font-weight: normal; margin: 3px 0 0; width: auto; }
.greyhdr-box-bot {border: 1px solid #ddd; box-sizing: border-box; float: left; padding: 10px; width: 100%; }
.greyhdr-box-bot label {float: left; font-size: 14px; font-weight: normal; margin: 6px 0 0; width: auto; }
.greyhdr-box-bot span {float: left; font-size: 25px; font-weight: bold; margin: 0 0 0 5px; }
.renew_plan_data_div .form-outer, .upgrade_plan_data_div .form-outer { margin-bottom: 15px;}
.grid-outer select { color: #7030a0; height: auto; padding: 3.5% 2%; text-transform: uppercase;}

.connect-btn-pop {background: #ff6600; border-radius:5px; color: #ffffff; font-size: 18px; margin-top: 30px; margin-bottom: 20px;}
.connect-btn-pop:hover { color: #ffffff;}
#helpThird .modal-header { border: none;}
#helpThird input[type="text"], #helpThird input[type="tel"] { width: 160px; margin: 15px 0 0 0;}





/*21TH MAY STARTS*/
form#change_pass_form span.fa.fa-fw.fa-eye.field-icon.toggle-password {
    top: 31px;
    right: 19px;
}
form#change_pass_form span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash
{
    top: 31px;
    right: 19px;
}
/*21TH MAY ENDS*/
.required{
    display: inline-block;
    position: relative;
    width: 100%;
    color: #585858;
    font-weight: 700;
    font-size: 13px;
    margin: 0 0 5px 0;
    color: red;
}
.new-apex-data {
    width: 100%;
}
.deleteCustomField .fa-times-circle { font-size: 15px; color: #d84141; margin-top: 10px; margin-left: 3px; cursor: pointer;}
.editCustomField .fa-edit { font-size: 14px; font-weight: 700; margin-top: 10px; margin-left: 3px; cursor: pointer;}
.strength-psw { min-height: 30px; }

.login-data input[type="text"] { padding-right: 25px;}
input::-ms-reveal {
    display: none;
}

.account_preference_view label{ width: 54%; text-align: right; float: left; padding: 5px 10px;}
.account_preference_view span{ text-align: left; width: 50%; float: left; padding: 5px 0; font-size: 13px;}

.apx-edt-btn{ font-size:14px; color:#2d3091; cursor: pointer;}
.apx-edt-btn .fa{color:#333;font-weight:bold;}
.apx-border-row{border-top:1px solid #c9c9c9; margin: 30px 0 0;}
.apx-border-row > div{padding:7px 0 0;}

#allocation-order-table .table-heading { font-weight: 700; background-color: #f2f2f2; cursor: auto; color: #585858;}

/***6June***/
.spacer {
    height: 20px;
    float: left;
    width: 100%;
}

/****30may Start*****/

.table a { color: #05A0E4; font-weight: 700; }
.label-span-outer { width: 100%; float: left; margin-bottom: 10px;}
.label-span-outer label { width: 40%; float: left; font-weight: 700; line-height: 30px; }
.label-span-outer span { width: 60%; float: right; line-height: 30px;}
.captcha-outer { width: 100%; float: left; margin-top: 20px; padding: 0 15px;}
.captcha-outer h3{ color: red;}
.captcha-outer a .fa-refresh { color: #fff; font-size: 15px; background: #a9a9a9; padding: 5px; border-radius: 50%;}
.captcha-outer span { margin: 10px 0; display: block; font-weight: 700;}
.captcha-type { max-width: 150px; }
.captcha-type span{ margin-top: 0; }
.blue-btn:last-child{ margin: 0; }
.cheque-outer { background: #f3fff1; border: 1px solid #e1e1e1; width: 100%; float: left; padding: 15px; margin-bottom: 20px; }
.cheque-spacer { min-height: 60px; float: left; width: 100%; }
.cheque-amount-hdr { border-bottom: 2px solid #333; padding: 5px 10px; margin-bottom: 10px;}
.trasparent-input { border: none; background: none; width: 100%; }

/**** Add Popup Css Starts ***/
.add-popup { border-radius: 3px; border: 1px solid #d0d0d0; margin: 5px 0 0; width: 100%; position: absolute; z-index: 99999; left: 15px; display: none;
             top: -5px;}
.add-popup h4 {
    background: none repeat scroll 0 0 #F2F2F2; color: #2D3091; float: left; font-size: 15px; font-weight: bold; list-style-type: none;
    margin: 0; padding: 3% 3% !important; width: 100%; border-bottom: 1px solid #d0d0d0;
}
.add-popup-body {
    background: #fff;
    padding: 3% 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.add-popup-body .form-outer{
    margin-bottom: 0px;
}
.add-popup-body .btn-outer{
    padding-right: 15px;
    padding-left: 15px
}
/**** Add Popup Css Ends ***/
.grey-add-table { margin-top: 20px; float: left;}
.grey-add-table th{ background: #d0d0d0; border-right: 2px solid #fff; }
.grey-add-table th:last-child { background: none; border: none;}
.grey-add-table td:last-child { background: none; border: none;}
.total { font-weight: 700; }
.form-outer .edit-delete { position: absolute; right: 3px; bottom: 24px; }
.form-outer .edit-delete .fa-edit { font-size: 14px; color: #000000;}
.form-outer .edit-delete .fa-delete { font-size: 14px; color: #d53635;}
#modal-inspection .modal-body label { font-size: 13px; font-weight: 700; }
.inbox-outer { width: 100%; border: 1px solid #333; float: left; padding: 10px 0;}
.inbox-outer ul li { border-bottom: 1px solid #ddd;  display: flex;
                     margin-bottom: 10px; }
.inbox-outer ul li:last-child { margin-bottom: 0; border-bottom: 0; }
.inbox-lt label{ color: #8f8d8b; float: left; width: auto; border-bottom: 1px solid #8f8d8b; }
.inbox-lt span{ color: #333; float: left; width: 100%; font-size: 16px; font-weight: 700;}
.inbox-rt label{ color: #8f8d8b; float: left; width: auto; font-weight: 400; line-height: 20px; margin: 0 5px 0;}
.inbox-rt span{ color: #333; float: left; width: auto; font-size: 14px;
                font-weight: 700;}
.main-tabs .nav-tabs .responsivetabs-more ul { margin: 0; padding: 0; }
.main-tabs .nav-tabs .responsivetabs-more ul li a{ display: block; border: none; border-bottom: 1px solid #d4d4d4; border-radius: 0;}
.main-tabs .nav-tabs .responsivetabs-more ul li a:hover{ background: #068ad1; color: #fff; }

.main-tabs .nav-tabs .responsivetabs-more ul li.active a{ border: none; border-radius: 0; }
.compose-email-btn { padding: 23px 15px; }
.add-recipient-link { color: #2d3091; text-decoration: underline; font-size: 16px; font-weight: 800; line-height: 32px; }
.add-recipient-link:hover { text-decoration: none; }
.compose-email label { line-height: 35px; }
.compose-email span { min-height: 70px; display: block;}
.conversation-outer { background: #f7f7f7; border: 1px solid #ddd; float: left; width: 100%; max-height: 300px; overflow: auto; padding: 15px; }
.conversation-outer .user-pic { background: #ddd; width: 50px; height: 50px; text-align: center; float: left; }
.conversation-outer .user-pic img{ max-width: 100%;}
.conversation-outer ul { margin: 0; padding: 0; }
.conversation-outer ul li { margin: 0 0 10px 0; padding: 0; list-style-type: none; float: left; width: 100%; }
.conversation-outer ul li .fa-plus-circle { font-size: 18px; line-height: 50px;}
.conversation-outer ul li .fa-user { font-size: 35px; line-height: 50px;}
.conversation-outer ul li h5 { color: #313498; font-weight: 700; margin-top: 5px;}
.conversation-outer ul li h5 span{ color: #585858; margin-left: 15px; font-weight: 400; }
.conversation-outer ul li p { margin: 0;}
.conversation-outer ul li p span{ color: #313498;}
.conversation-outer ul li:last-child{ margin-bottom: 0; }
.conversation-outer .col-sm-1 { width: auto; }
.conversation-link { color: #2D3091; font-size: 15px; font-weight: bold; }
.check-outer2 { margin-top: 0; }
.period-type .check-outer label{ font-weight: 400;}
.market-list { padding: 1%; float: left; border: 1px solid #ddd; border-radius: 4px; width: 100%; }
#market-listing .btn-outer { margin-top: 0; }
.market-list .check-outer label { font-size: 18px; color: #2D3091; line-height: 16px; }
.market-list .check-outer { margin-bottom: 20px; }
.market-list h4 { font-weight: 700; }
.market-list p { margin: 0; line-height: 22px; }
.market-list .fa { font-size: 20px; margin-right: 5px; }
.market-list .fa-file-text { color: #484fc3; }
.market-list .fa-star { color: #f4b520; }
.market-list .fa-map-marker { color: #e65425; }
.market-list .carousel { max-width: 250px; float: right;}
.list-footer { border-top: 1px solid #ddd; padding: 15px 0 5px; margin-top: 20px; width: 100%; float: left; text-align: center; font-weight: 700; }
#myCarousel .carousel-control:hover, #myCarousel .carousel-control { background: #ddd; text-shadow: none; border: none; top: 38%; width: 32px;
                                                                     height: 30px; filter: alpha(opacity=100); opacity: 1;}
.main-tabs .sub-tabs { margin-top: 20px; }
.detail-outer { width: 100%; float: left; }
.detail-outer label{ font-weight: 700; color: #2d3091; width: 50%; float: left;}
.detail-outer span{ font-size: 13px; line-height: 20px; width: 50%; padding-left: 1%; float: left;}
.edit-foot { border-top: 1px solid #dedede; padding: 10px 0 0 0; text-align: right; float: left; width: 100%; margin-top: 20px; font-size: 14px;}
.edit-foot a {color: #2D3091;}
.edit-foot a .fa { color: #333; font-weight: 600; }

.form-outer .form-hdr a.back:hover, .accordion-outer #accordion .panel-heading a.back:focus{color: #2d3091;}
.form-outer .form-hdr a.back:hover, .accordion-outer #accordion .panel-heading a.back:focus{color: #2d3091;}
.form-outer .form-hdr a.back { color: #2d3091; font-size: 13px; font-weight: 700; position: absolute; right: 10px; top: 10px;}

.flyer-outer { border: 1px solid #ddd; padding: 15px; float: left; width: 100%; }
.flyer-outer h4{ font-weight: 700; }
.flyer-outer .flyer-links { margin-top: 15px; }
.flyer-outer .flyer-links a, .flyer-outer .flyer-links a:hover{ color: #05A0E4; font-size: 15px; padding-right: 15px;
                                                                margin-right: 10px;}
.flyer-outer .flyer-links a:first-child { border-right: 1px solid #05A0E4; }
.lost-item .check-outer { margin-top: 0; }
.red-cross { color: #ff0000; margin-left: 5px; }
.add-invoice-row { margin-top: 10px; float: left; width: 100%; }
.add-file-btn { background: #e4f5fc; float: left; padding: 8px 70px; text-align: center; border: none; margin-right: 15px; font-weight: 700;}
.radio-input-label { float: left; width: 100%; margin-bottom: 15px; }
.radio-input-label input[type="radio"], .radio-input-label input[type="checkbox"] { float: left; margin-right: 10px; }
.radio-input-label input[type="text"] { float: left; border: 1px solid #ddd; border-radius: 5px; padding: 5px; margin-right: 10px;}
.radio-input-label label { float: left; margin-right: 10px; width: auto;  line-height: 30px;}

.grey-plus-section{ width: 100%; display: flex; align-items: center; padding: 20px;}
.grey-plus-left{ width: 90%; background: #f3f3f3; padding: 10px;}
.grey-plus-right{ width: 10%; text-align: center;}
/****30may Ends*****/

/****5June ***/
.add-hdr-links { width: 100%; float: left; margin: 0 0 20px 0;}
.add-hdr-links ul{ width: 100%; float: left; margin: 0; padding: 0; }
.add-hdr-links ul li{ width: auto; float: left; margin: 0 20px 0 0; padding: 0; }
.add-hdr-links ul li a{ font-size: 13px; line-height: 45px; color: #9E9E9E; font-weight: 600;}
.add-hdr-links ul li label.icon{ border: 2px solid #fff; width: 50px; height: 50px; border-radius: 50%; background: #d2d2d2; box-shadow: 3px 3px 3px #bfbfbf; text-align: center; vertical-align: middle; margin-right: 5px; }
.add-hdr-links ul li a:hover{ font-weight: 600; color: #585858; border: none;}
.add-hdr-links ul li label { width: 45px; float: left; height: 45px; margin-right: 5px; }
.add-hdr-links ul li a label.icon:hover{ cursor: pointer; background: #4b4ec1; background: -moz-linear-gradient(top, #4b4ec1 0%, #2f3295 100%);
    background: -webkit-linear-gradient(top, #4b4ec1 0%,#2f3295 100%); background: linear-gradient(to bottom, #4b4ec1 0%,#2f3295 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4ec1', endColorstr='#2f3295',GradientType=0 );}
.add-hdr-links ul li label.icon1 { background: url(../images/icon1.png) no-repeat; background-size: 100%;}
.add-hdr-links ul li a:hover label.icon1 { background: url(../images/icon1-hover.png) no-repeat; background-size: 100%; }
.add-hdr-links ul li label.icon2 { background: url(../images/icon2.png) no-repeat; background-size: 100%;}
.add-hdr-links ul li a:hover label.icon2 { background: url(../images/icon2-hover.png) no-repeat; background-size: 100%; }
.add-hdr-links ul li label.icon3 { background: url(../images/icon3.png) no-repeat; background-size: 100%;}
.add-hdr-links ul li a:hover label.icon3 { background: url(../images/icon3-hover.png) no-repeat; background-size: 100%; }
.add-hdr-links ul li.active a{ font-weight: 600; color: #585858; border: none;}
.add-hdr-links ul li.active label.icon3 { background: url(../images/icon3-hover.png) no-repeat; background-size: 100%; }
.add-hdr-links ul li.active label.icon2 { background: url(../images/icon2-hover.png) no-repeat; background-size: 100%; }
.add-hdr-links ul li.active label.icon1 { background: url(../images/icon1-hover.png) no-repeat; background-size: 100%; }

/*.add-hdr-links ul li.disabled label{ border: 2px solid #fff; width: 50px; height: 50px; border-radius: 50%; background: #d2d2d2; box-shadow: 3px 3px 3px #bfbfbf; text-align: center; vertical-align: middle; margin-right: 5px; }*/
.add-hdr-links ul li.disabled a:hover{ font-weight: 600; color: #9E9E9E; border: none; cursor: default;}

.add-hdr-links ul li.disabled a:hover label.icon1{
    background: url(../images/icon1.png) no-repeat;
background-size: 100%;}
/**5June**/
#addTenant .countycodediv input{padding-left:50px;}
#addTenant  .multiselect-native-select  .btn-group{width: 100%;}
#addTenant  .multiselect-native-select  .btn-group .multiselect-container{width: 100%;}
#addTenant  .multiselect-native-select  .btn-group .caret{float: right;}
.photos_upload_outer, .file_upload_outer {display: inline-block;}

/*clone unit css*/
.primary-tenant-fax-row .fax-add-remove-row .glyphicon-remove-sign{display: none; color: red;}
.primary-tenant-phone-row .phone-add-remove-row .glyphicon-remove-sign{display: none; color: red;}
.primary-tenant-keyAccess-row .keyAccess-add-remove-row .glyphicon-remove-sign{display: none; color: red;}
.clone-add:before { font-size: 16px;}
.clone-add { margin: 6px;}
.modal-footer input { margin-right: 10px;}
#selectPropertyCustomField .form-outer div[class^="col-"] {
    min-height: auto;
}
#selectPropertyCustomField .col-sm-12 { border-bottom: 1px solid #ddd; padding: 10px 0;}
#selectPropertyCustomField label { text-align: right; line-height: 32px;}
.accordion-form .panel-body, .form-outer .panel-body { padding: 15px !important; overflow: inherit !important;}
.accordion-outer .panel-header, .accordion-outer .panel-body {border-color: #ddd !important;}


#NewkeyMinus .fa-times {color: red;}
.show-list-imgs, .show-list-imgs2 { border: 1px solid #ddd; display: inline-block; margin-top: 10px;}
.img-upload-div, .img-upload-div2 {border-bottom: 1px solid #ddd; margin-bottom: 20px; padding: 15px 0;}
.img-upload-div:last-child, .img-upload-div2:last-child{border-bottom: none;}
.img-upload-div img,.img-upload-div2 img {width: 100%; max-width: 100%;}
.remove_cancel,.remove_cancel2{background-color: #F0AD4E;border: 1px solid #F0AD4E;color: #ffffff; min-width: 80px;font-weight: 600;outline: none;padding: 7px 15px;border-radius: 5px;font-size: 13px;}
.top-marginCls {margin-top: 15px;}
/*clone unit css*/

.account_preference_view label{ width: 54%; text-align: right; float: left; padding: 5px 10px;}
.account_preference_view span{ text-align: left; width: 40%; float: left; padding: 5px 0; font-size: 13px;}
.account_preference_edit label{ width: 54%; text-align: right; float: left; padding: 5px 10px;}
.account_preference_edit span{ text-align: left; width: 38%; float: left; padding: 5px 0; font-size: 13px;}

.apx-edt-btn{ font-size:14px; color:#2d3091; cursor: pointer;}
.apx-edt-btn .fa{color:#333;font-weight:bold;}
.apx-border-row{border-top:1px solid #c9c9c9; margin: 30px 0 0;}
.apx-border-row > div{padding:7px 0 0;}

#allocation-order-table .table-heading { font-weight: 700; background-color: #f2f2f2; cursor: auto; color: #585858;}

/***6June***/
.spacer {
    height: 20px;
    float: left;
    width: 100%;
}
/***14june****/

.image-editor input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 45px;
    left: 91px;
}
.upload-logo .img-outer img { max-width: 100%;}
.choose-img { margin: 0 !important;}
.grey-plus-photo-upload .image-editor input[type="file"]{ top: 20px;
    left: 82px;
    width: 80px;
    opacity: 0;}

.popup-bg {
    background: none repeat scroll 0 0 #303030; display: none; height: 100%; left: 0;
    min-height: 100%; opacity: 0.8; position: fixed; top: 0; width: 100%;
    z-index: 9999;
}
.cropItData { z-index: 9999999; position: fixed; background: #fff; padding: 20px;
    left: 0; right: 0; margin: auto; max-width: 500px; top: 10%;
}
.countycodediv input{padding-left:50px;}
.multiselect .caret { margin-top: 8px;}
.select_role_type .multiselect-container { max-height: 130px; !important;}
span.error { font-size: 12px;color: red; }


.apx-adformbox { background: #fff; float: left; width: 100%; padding: 0px; border-radius: 5px; border: 1px solid #d0d0d0; margin-bottom: 20px;}
.apx-adformbox-title { line-height: 36px; border-bottom: 1px solid #d0d0d0; color: #2d3091; font-weight: bold; font-size: 15px; padding: 0 15px; background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #b3b3b3;}
.apx-adformbox-title .back{ color: #2d3091; float: right; }
.apx-adformbox-content { padding: 15px;}
.online-payment { width: 100%; margin: 0 0 20px 0; font-size: 18px;}
.online-payment a{ text-decoration: underline; font-weight: bold;}
.online-payment a:hover{ text-decoration: underline; color: #337ab7;}

.apx-adformbox .property-status { margin-top: 20px;}

.view-outer label{ width: 50%; text-align: right; float: left; padding: 5px 10px;}
.view-outer span{ text-align: left; width: 50%; float: left; padding: 5px 0; font-size: 13px; color: #585858;}
.mg-btm-20 { margin-bottom: 20px;}
.box-shadow-outer {
    float: left;
    margin: 5px 0 0;
    width: 100%;
    box-shadow: -1px 1px 7px 2px #DDDDDD inset;
    background: #fff;
    border: 1px solid #c9c9c9;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.school_district_muncipality {
    width: 100%;
    float: left;
}
.label-auto label{ width: 50%; float: left; text-align: right; color: #2d3091; margin: 0; line-height: 23px;}

.label-auto span{ width: auto; float: left; padding-left: 5px; line-height: 25px; }
.label-auto {
    background: #ddd;
    padding: 5px;
    margin-bottom: 20px;
}


.unit_ddl .multiselect-native-select .multiselect-container {
    max-height: 180px;
    overflow-y: scroll;
}
#chargecodepref label#unit_type_id-error {
    position: absolute;
    top: 54px;
    left: 0;
}

.unit_ddl {
    position: relative;
}

#property-unit-table td.pointer .ui-state-hover a:hover { color: #1d5987; text-decoration: none; }
#property-unit-table td.pointer { text-decoration: underline; }
.inspection-outer .form-control{ margin-bottom: 10px;}
.inspection-outer {overflow-y: scroll;overflow-x: hidden;max-height: 365px; }
.inspection-sub-child { width: 100%; float: left; padding: 15px 0; background: #e4e4e4;}

#selectNewPopup .select-padd {padding-top: 20px; padding-bottom: 20px;}
#selectNewPopup #saveCustomField { margin-left: 30px;}
.wd-auto { width: auto;}
#eft_generate_date-error { width: 140px;}
/********Responsive Css Starts ********/
@media only screen and ( max-width: 991px) {
    .login-data .blue-btn { padding: 7px 15px; font-size: 13px; }
    .dashboard-graph-hdr h3 { font-size: 13px;}
    .main-nav .nav li a { padding: 0 10px;}
    .property-status .blue-btn { margin-top: 5px; }
}
@media only screen and (max-width: 767px) {
    .hdr-rt { width: auto; float: right;}
    .hdr-rt .navbar-toggle{ margin-right: 0; border: none;}
    .hdr-rt .navbar-toggle:hover, .hdr-rt .navbar-toggle:focus{ background: none;}
    .hdr-rt .navbar-toggle .icon-bar{ background: #2e3191;}
    .hdr-rt .navbar-collapse{ position: absolute; min-width: 300px; top: 49px; z-index: 9; width: 100%; right: 0;}
    .hdr-rt .navbar-nav{ margin: 0;}
    .hdr-rt .navbar-nav li { display: block; background: #2d3091; text-align: center; color: #fff; border: 1px solid #4145bd; padding: 5px;}
    .hdr-rt .navbar-nav li a{ color: #fff;}
    .main-nav .nav { padding-top: 30px;}
    .main-nav .nav li a{ display: block; border-bottom: 4px solid #4b4ec1; border-top: none;}
    .main-nav .nav li a:hover{ border-top: none;}
    .main-nav .nav li:last-child a{ border: none;}
    .main-nav .navbar-collapse{ background: #2d3091; position: fixed; z-index: 99; width: 100%; height: 100%; top:0;}
    .main-nav .navbar-collapse .close {z-index: 9999; cursor: pointer; top: 0; position: absolute; right: 11px; top: 3px; opacity: 1;}
    .main-nav .navbar-collapse .close .fa{ color: #fff; font-size: 25px;}
    .main-nav .navbar-toggle { position: absolute; top: -60px; left: 7px; background: none; border: none;}
    .main-nav .navbar-toggle:hover, .main-nav .navbar-toggle:focus { background: none;}
    .main-nav .navbar-default .navbar-toggle .icon-bar { background-color: #2d3091; width: 35px; height: 5px;}
    .main-tabs .dropdown-menu-right{ padding-bottom: 0; left: 0; right: auto;}
    .main-tabs .dropdown-menu-right li a{ display: block; border: none; border-bottom: 1px solid #ddd; }

    .left-links{ display: block; background: #d6f0fe;}
    #LeftMenu{ display: none; position: absolute; left: 0px; z-index: 8; overflow: hidden; width: 85%; max-width: 300px;}
    .logo{ text-align: center;}
    .property-status { padding-right: 0; }
    .property-status .btn-outer { margin-top: 10px; }
    .main-content-lt { min-width: auto; }
    .easy-search input { min-width: auto; width: 100%;}
    .login-logo img{ max-width: 400px; width: 100%; }
    .spotlight-pop { width: 80%; margin: auto;  }
    .bread-search-outer { padding-bottom: 20px;  width: 100%; float: left; margin-bottom: 20px;}

    .atoz-outer { position: relative; width: 100%; right: 0; text-align: right; margin-top: 20px; }
    .main-content-lt { min-height: auto; }
    .check-outer{ margin-right: 10%;}
    .flex { display: inherit; }
    .easy-search { margin-right: 0; text-align: left;}
    .easy-search input { max-width: 200px; }
    .filter-label {  padding-left: 15px;}
    .textarea-form {
        min-height: 100px !important;
    }

}

.gn_tenant_image img{
  height:200px;
}

.tenant_image img{
  height:70px;
}

@media only screen and (max-width: 479px) {

    .remember-psw-rt { float: left; margin-top: 10px; width: 100%;}
    .property-status .btn-outer button { width: 100%; margin-top: 10px; }
    .dashboard-graph-hdr .mob-change { width: 100%; text-align: left; }
    .name-id-greybox-inner { width: 100%; margin: 0; padding: 0; border: none; }
}


.required{
    display: inline-block;
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    margin: 0 0 5px 0;
    color: red;
}
.new-apex-data {
    width: 100%;
}
/*shrey css*/

#restoreProperty{
    cursor: pointer;
}

#add_subcategory_type
{
    display:none;
}
#add_supplier_type1
{
    display:none;
}
#add_subcategory_type2
{
    display:none;
}
#add_subcategory_type3
{
    display:none;
}
#add_subcategory_type4
{
    display:none;
}
#add_subcategory_type6
{
    display:none;
}
#add_subcategory_type7
{
    display:none;
}
#multiplsubcategory1{
    display: none;
}
/*shrey css ends*/

/**** Add Popup Css Starts ***/
.add-popup {
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    margin: 5px 0 0;
    width: 100%;
    position: absolute;
    z-index: 99999;
    left: 15px;
    display: none;
    top: -5px;
}
.add-popup h4 {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #2D3091;
    float: left;
    font-size: 15px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 3% 3% !important;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
}
.add-popup-body {
    background: #fff;
    padding: 3% 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.add-popup-body .form-outer{
    margin-bottom: 0px;
}
.add-popup-body .btn-outer{
    padding-right: 15px;
    padding-left: 15px
}
/**** Add Popup Css Ends ***/
.multiplephonenocross .fa-times{
    font-size: 14px;
    padding: 6px;
    color: #000;
}
#amenties_box,#amenties_box1{
    height: 100px;
    min-height: 100px;
    overflow: auto;
    line-height: 36px;
}
.commonCheckboxClass {
    width: 48%;
    font-size: 12px;
    float: left;
    margin: 0 1% 0 0;
}
.multiselect-native-select .btn-group{
    width: 100%;
}
.multiselect-native-select .multiselect-container {
    width: 100%;
}
.multiselect-native-select .caret{
    float:right;
}
.multiselect-native-select .checkbox{
    background-color: #fff;
    border:none;
}
label .error {
    color: red;
    font-size: 12px;
}
.atoz-outer2 { width: 100%; float: left; font-size: 16px; text-align: right; margin-top: 15px; color: #05A0E4; }
.atoz-outer2 span #allAlphabet{ background: #05A0E4; padding: 5px; color: #fff; margin-left: 5px;}
.atoz-outer2 span{  padding: 5px; color: #fff; margin-left: 5px;}

.atoz-outer2 .AtoZ{
    background: white;
    color: #05A0E4;
}

.atoz-outer2 .AZ{
    background: white;
    color: #05A0E4;
    cursor:pointer;
}

.AtoZ span{
    background: white;
    color: #05A0E4;
    cursor:pointer;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}
/*raghav 04-06-2019*/


.owl-dots { display: none; }
.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 35%;
    width: 100%;
    margin: 0;
}
.owl-nav button.owl-prev {
    background: #dcdcdc !important;
    left: 0;
    width: 35px;
    position: absolute;
    height: 35px;
    line-height: 30px !important;
}
.owl-nav button.owl-prev span, .owl-nav button.owl-next span{ font-size: 30px;}
.owl-nav button.owl-next {
    background: #dcdcdc !important;
    right: 0;
    width: 35px;
    position: absolute;
    height: 35px;
    line-height: 30px !important;
}

.InterestOnly{
    margin-top: 20px;
    margin-bottom: 20px;
}
.listinggridDiv{
    height:max-content;
}
.listinggridDiv .apx-table {
    background: #fff;
    padding: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 4px 4px 4px -2px #d2d2d2;
}
.pointer {
    cursor:pointer;
}
.BankDetailCloneDiv .textarea-form {
    padding: 0;
}
.returnbuttondiv{
    text-align: center;
    width: 100%;
}
a#add_new_renovation {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 35px;
    text-decoration: underline;
    color: deepskyblue;
    font-size: 14px;
}
.disabled_field {
    cursor: not-allowed;
    pointer-events: none;
}

.pointer{
    cursor: pointer;
}

.building-listpage .list_property_name{
    background: #f5f5f5;
    padding: 10px;
    display: block;
    margin-top: 15px;
}

.building-listpage .list_property_name a{
    text-transform: uppercase;

    font-size: 16px;
    background: #f5f5f5;
    padding: 10px;
    font-weight: 400;
    color: #05A0E4;
}
.building-listpage .list_property_name a:hover {
    text-decoration: underline;
}

.owl-carousel.owl-drag .owl-item {
    max-height: 175px;
    overflow: hidden;
}

.key_access_codeclass {
    margin-top: 20px;
    width: 100%;
    float: left;
}

#track_key_tracker .textbox-text{
    height: 34px !important;
    width: 100% !important;
    padding: 6px 12px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datagrid-view1 { display: none;}
.datagrid-view2 .datagrid-header {
    height: auto !important;
    padding: 10px 5px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: 700;
}
.datagrid-view2 .datagrid-body {
    border: 1px solid #ddd;
}
.datagrid-view2 .datagrid-body .datagrid-btable td { padding: 5px;}

.datagrid-view2 .datagrid-body .datagrid-btable tr:nth-child(even) { background: #d4d4d4;}
