tbody.TimeSheet{
    -webkit-user-select:none;
    -moz-user-select : none;
    user-select : none;
    border : #cccccc 1px solid;
    color : #757a7d;
    font-size: 12px;
    cursor:default;
    display: block;
    border-collapse: collapse;
}

.TimeSheet td{
    border : #e3e3e3 1px solid;
}

.TimeSheet-cell-selected{
    background-color: #FF3333;
}

.TimeSheet-cell-selecting{
    background-color: #dae0ef !important;
}

.TimeSheet-rowHead, .TimeSheet-colHead{
    background-color: #f5f5f5;
}

.TimeSheet-rowHead{
    padding:3px 10px;
    border-left:none !important;
}

.TimeSheet-colHead{
    padding: 6px 3px 6px 3px;
    border-top:none !important;
}

.TimeSheet-head{
    text-align: center;
    border-top:none !important;
    border-left:none !important;
}

.TimeSheet .rightMost{
    border-right:none !important;
}

.TimeSheet .bottomMost{
    border-bottom:none !important;
}

.TimeSheet-remarkHead{
    text-align: center;
    border-top:none !important;
    border-right:none !important;
}

.TimeSheet-remark{
    padding : 0 5px;
    border-right:none !important;
}

.TimeSheet-remarkHead, .TimeSheet-remark{
    max-width: 120px;
    background-color: #fbf0ed;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    border-left-color : #cccccc !important;
}
