@-ms-viewport { width: device-width; }
html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline;}
body{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; background: #fff; font-size: 12px;}
a:hover,a:focus{text-decoration: none; color: #2d3091;}
.real-estate-header {
    width: 100%;
    background: #d6f0fe;
    border-bottom: 3px solid #00adee;
    padding: 15px 0px;
}
.real-estate-header .navbar {
    margin: 0;
    min-height: 0;
}
.real-estate-header nav  .navbar-nav li {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    float: left;
    position: relative;
}
.real-estate-header nav .navbar-nav  li  a {
    border-right: 1px solid #686ac0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}
.real-estate-header nav .navbar-nav  li  a:hover {
    color: #00adee;
    background: none;
}
.real-estate-header nav  .navbar-nav li.active  a {
    color: #00adee;
}
.real-estate-header nav  .navbar-nav  li:last-child  a {
    border-right: 0px;
}
.real-estate-header .navbar-nav {
    float: right;
}
.real-state-main-content {
    background: #e8e8e8;
    padding: 30px 0;
    min-height: calc(100vh - 111px);
}
.real-estate-property-form {
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 4px 4px 4px -2px #D2D2D2;
    width: 100%;
    background-color: #fff;
    float: left;
    min-height: 524px;
}
.real-estate-property-form .form-hdr {
    background: none repeat scroll 0 0 #4B4EC2;
    color: #ffffff;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 4%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.real-estate-property-form .form-data {
    width: 100%;
    float: left;
    margin: 0;
    padding: 4%;
    background: #fff;
    line-height: normal;
    position: relative;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}
.real-estate-property-form label {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #585858;
    margin-bottom: 8px;
}
.blue-btn {
    padding: 8px 15px;
    background: #05a0e4;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #00adee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.blue-btn:hover, .blue-btn:focus {
    background: #05a0e4;
    color: #fff;
}
.real-estate-slider-outer {
    border: 3px solid #fff;
    float: left;
    width: 100%;
    min-height: 280px;
    position: relative;
}
.real-estate-slider-outer a.prev {
    background: url(../images/left.png) no-repeat scroll 0 0 transparent;
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 2%;
    margin-top: -17px;
}
.real-estate-slider-outer a.next {
    background: url(../images/right.png) no-repeat scroll 0 0 transparent;
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    margin-top: -17px;
}
.real-estate-feature-sct  {
    float: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    width: 100%;
    background: #fff;
    margin-top: 15px;
}
.real-estate-feature-sct .heading-small {
    background: none repeat scroll 0 0 #4B4EC2;
    color: #fff;
    padding: 12px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.real-estate-list-fatr {
    float: left;
    width: 98%;
    margin: 0;
    padding: 6px 0 0 15px;
    overflow-y: auto;
    height: 185px;
}
.real-estate-footer {
    width: 100%;
    padding: 10px 0;
    background: #585858;
}
.real-estate-footer .copy-right {
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.real-estate-header .navbar-toggle {
    background: #333;
    color: #fff;
    margin: 0;
}
.real-estate-header .navbar-toggle i {
    font-size: 20px;
}
.real-estate-feature-sct .heading-small .clsMrktSearchResultBack {
    color: #fff;
    float: right;
}
.real-estate-property-table {
    padding: 20px;
}
.real-estate-property-table table {
    border: 1px solid #afafaf;
}
.real-estate-property-table table thead tr th {
    border-bottom: 1px solid #afafaf;
    background: url(../images/form-hdr.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-right: 1px solid #e3e3e3;
    text-align: left;
    color: #585858;
    font-size: 12px;
    background-size: cover;
    vertical-align: middle;
    font-weight: 600;
    background-size: 100% 100%;
}
.real-estate-property-table table tbody tr td {
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
    color: #585858;
    font-size: 14px;
    vertical-align: middle;
}
.real-estate-property-table table td a {
    color: #585858;
    text-decoration: none;
}
.real-estate-property-table table tbody tr td:last-child {
    width: 6%;
}
.real-estate-propert-table-pagination {
    float: left;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;
}
.real-state-main-content .propty1-inner {
    padding: 15px 15px;
}
.real-state-main-content .propty1-inner .property-info-left {
    border-right: 1px solid #ccc;
}
.property-info-left p {
    font-size: 14px;
    padding: 8px 0px;
}
.property-info-left p strong {
    font-weight: bold;
}
.property-info-image img {
    width: 100%;
}
.border-top {
    border-top: 1px solid #ccc;
}
.real-state-main-content .des-inner-row {
    float: left;
    margin: 0 0 3px;
    width: 100%;
    padding: 15px 10px;
    margin-top: 28px;
}
.real-state-main-content .des-inner-row h3 {
    font-size: 14px;
    margin: 0 0 5px 0;
    color: #00adee;
    font-weight: bold;
}
.real-state-main-content .des-inner-row p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 5px;
}
.real-state-main-content .des-inner-row.mt-0 {
    margin-top: 0;
}
.propty-content-middle-left {
    float: left;
    width: 49.5%;
    padding: 15px 10px 0px;
}
.propty-content-middle-left ul {
    margin: 0;
    padding: 0;
}
.propty-content-middle-left ul li {
    padding: 4px 0px 8px 0px;
    margin: 0 1% 0 0;
    float: left;
    font-size: 14px;
    width: 28%;
    list-style: none;
}
.propty-content-middle-right {
    float: left;
    width: 49.5%;
    padding: 15px 10px 0px;
    border-left: 1px solid #ccc;
}
.real-state-main-content .des-inner-row.des-inner-row-middle {
    padding: 0;
}
.property-apply-online-button {
    margin-top: 20px;
}
.property-apply-online-button a.mapProperty {
    margin-left: 20px;
    font-size: 14px;
}
.real-state-main-content .propty1-inner .property-info-left:last-child {
    border-right: 0;
}
.property-apply-modal .modal-dialog {
    max-width: 630px;
    width: 100%;
}
.property-apply-modal .modal-dialog .modal-header {
    width: 100%;
    margin: 0;
    padding: 0 2%;
    float: left;
    background: url(../images/form-hdr.png) repeat-x;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #d0d0d0;
    color: #2d3091;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.property-apply-modal .modal-dialog .modal-body {
    float: left;
    width: 100%;
    padding: 15px 2%;
}
.property-apply-modal .modal-dialog .modal-header .close {
    opacity: 1;
    margin-top: 8px;
}
.red-astrick {
    color: #f00;
}
.property-apply-modal .modal-dialog .modal-header .modal-title {
    margin-top: 6px;
}
.property-apply-modal .real-estate-property-form {
    border: none;
    box-shadow: none;
    min-height: 0;
}
.property-apply-modal .modal-content {
    float: left;
    width: 100%;
}
.property-apply-modal .real-estate-property-form button {
    margin-right: 15px;
}
.real-estate-propty-srch {
    background: #fff;
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 3px;
}
.real-estate-proprty-span-outer {
    color: #585858;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    padding-left: 84px;
    min-height: 50px;
}
.real-estate-proprty-span-outer label.control-label {
    float: left;
    margin: 0;
    padding: 0 10px;
    width: 80px;
    background: #f3f3f3;
    line-height: 50px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
}
.real-estate-proprty-span-outer .form-control {
    border: 1px solid #cfd9db;
    border-radius: 5px;
    float: left;
    margin: 8px 15px;
    padding: 2%;
    width: 100%;
    font-size: 12px;
    display: inline-block;
}
.real-estate-proprty-span-outer .checkbox label {
    width: 100%;
    display: flex;
    margin-left: 0px;
    padding-left: 8px;
    margin-top: 20px;
}
.real-estate-proprty-span-outer .checkbox label input[type="checkbox"] {
    position: relative;
    margin-left: 8px;
    margin-top: 2px;
}
.real-estate-property-newtop {
    float: left;
    width: 100%;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.real-estate-property-newtop p {
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    margin-top: 0;
    margin-bottom: 8px;
    color: #4b4b4b;
}
.real-state-main-content .real-estate-propty1-inner-middle {
    padding: 20px 0px 0px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.real-estate-propty1-inner-middle button {
    margin-right: 8px;
}
.real-state-property-pagination {
    float: left;
    width: 100%;
    text-align: right;
}
.real-estate-compaign-content h3 {
    font-size: 16px;
    color: #4c4fc3;
    margin: 5px 0;
    font-weight: bold;
}
.compaign-inner-table table thead tr th {
    background: #4c4fc3;
    color: #fff;
    padding: 9px 15px;
    text-align: left;
    font-size: 15px;
    border-right: 1px solid #7578d1;
    font-weight: bold;
}
.compaign-inner-table table tbody tr td {
    background: #e8e8e8;
    color: #484848;
    padding: 9px 15px;
    text-align: left;
    font-size: 14px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.compaign-inner-table table thead tr th:nth-child(1) {
    border-radius: 3px 0px 0px 0px;
}
.compaign-inner-table table thead tr th:last-child {
    border-radius: 0px 3px 0px 0px;
}
.real-estate-contact-address {
    background: #e8e8e8;
    border-radius: 3px;
    padding: 10px 13px;
    margin: 0 0 15px 0;
    min-height: 103px;
}
.real-estate-contact-address h4 {
    font-size: 18px;
    font-weight: normal;
    color: #4c4fc3;
    margin: 0 0 5px 0;
}
.real-estate-contact-address p {
    font-size: 15px;
    margin: 0 0 5px 0;
}
.real-estate-contact-address p span {
    color: #00adee;
    font-weight: bold;
}
/* responsive start */
@media screen and (max-width:991px) {
    .real-estate-property-newtop .blue-btn {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 767px) {
    .real-estate-header .col-md-8 {
        width: 100%;
    }
    .real-estate-header nav .navbar-nav li {
        width: 100%;
        display: block;
    }
    .real-estate-header nav .navbar-nav li a {
        border-right: 0;
        border-bottom: 1px solid #686ac0;
        padding: 8px 0px;
    }
    .real-estate-header nav .navbar-nav li:last-child a {
        border-bottom: 0;
    }
    .real-estate-slider-outer {
        margin-top: 15px;
    }
    .real-estate-property-form {
        min-height: 0;
    }
    .real-estate-feature-sct .heading-small {
        height: auto;
        float: left;
        width: 100%;
    }
    .real-estate-feature-sct .heading-small .clsMrktSearchResultBack {
        color: #fff;
        float: left;
        display: block;
        margin-top: 8px;
        width: 100%;
    }
    .real-state-main-content .propty1-inner .property-info-left {
        border-right: 0;
        float: left;
        width: 100%;
    }
    .propty-content-middle-left {
        float: left;
        width: 100%;
        padding: 15px 0px;
    }
    .propty-content-middle-right {
        float: left;
        width: 100%;
        padding: 15px 0px;
        border-left: 0;
        border-top: 1px solid #ccc;
    }
    .real-state-main-content .des-inner-row {
        margin-top: 0;
    }
    .property-info-image {
        margin-bottom: 20px;
    }
    .property-apply-modal .modal-dialog {
        float: left;
        width: 100%;
        margin: 0;
    }
    .property-apply-modal .real-estate-property-form .country-dropdown {
        margin-top: 15px;
    }
    .real-estate-proprty-span-outer .form-control {
        margin: 8px 0px 8px 8px;
        width: 91%;
    }
    .real-estate-property-newtop {
        padding-top: 15px;
    }
    .real-state-main-content .real-estate-propty1-inner-middle {
        padding: 0px 0px 0px;
    }
    .real-estate-compaign-content {
        float: left;
        width: 100%;
        padding-top: 8px;
    }
    .real-state-main-content .propty1-inner {
        padding: 15px 15px;
        float: left;
        width: 100%;
    }
}
 .carousel {
    max-width: 250px;
    float: right;
}
#myCarousel .carousel-control:hover, #myCarousel .carousel-control {
    background: #ddd;
    text-shadow: none;
    border: none;
    top: 38%;
    width: 32px;
    height: 30px;
    filter: alpha(opacity=100);
    opacity: 1;
}
#myCarousel .fa {
    font-size: 20px;
    margin-right: 5px;
    line-height: 30px;
}
#myCarousel .carousel-control:hover, #myCarousel .carousel-control {
    background: #ddd;
    text-shadow: none;
    border: none;
    top: 38%;
    width: 32px;
    height: 30px;
    filter: alpha(opacity=100);
    opacity: 1;
}
.carousel-inner .item {
    width: 180px;
    height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.real-estate-feature-sct .ui-jqgrid .ui-jqgrid-htable th {
    padding: 8px;
}
.real-estate-feature-sct .ui-widget.ui-widget-content th {
    white-space: normal;
}
.propty1-inner .row {
    margin-bottom: 20px;
}


/**18dec**/
.real-estate-feature-sct .ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td { white-space: inherit; padding: 5px;}
.real-estate-feature-sct .apx-table { padding: 20px;}
.real-estate-feature-sct .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
    font-weight: 700;}

.real-estate-feature-sct .ui-jqgrid tr.jqgroup, .ui-jqgrid tr:nth-child(even) {
    background-color: #F6F6F6;
}
.real-estate-feature-sct .carousel .carousel-inner .carousel-control.left {
     background: none;
    display: flex;
    align-items: center;
    left: 5px;
    opacity: 1;
 }
.real-estate-feature-sct .carousel .carousel-inner .carousel-control.right {
    background: none;
    display: flex;
    align-items: center;
    right: 5px;
    opacity: 1;
}
.real-estate-feature-sct .carousel .carousel-inner .carousel-control.left .fa {
    width: 25px;
    opacity: 1;
    backgrond-image:url(../images/left-arrow.png) no-repeat scroll 0 0 transparent; ;
}
.real-estate-feature-sct .carousel .carousel-inner .carousel-control.right .fa {
    width: 25px;
    opacity: 1;
    backgrond-image:url(../images/right-arrow.png) no-repeat scroll 0 0 transparent; ;
}
.real-estate-feature-sct .carousel .carousel-inner .item {
    box-shadow: 0px 0px 0px 2px #ddd;
    border-radius: 4px;
    padding: 5px;
}

#activeImageID{
    width: 350px;
    height: 209px;

}
.owl-dots{
    display: none;
}
.activeImageDivClass {
    height: 232px;
    margin: 0 0 10px;
}
.applyformAndMap{
    margin: 10px 0px 10px 0px;
}
#lstFeaturedProperites li {
    width: 45%;
    padding: 5px 2px 5px 17px;
    margin: 0 1% 0 0;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #05a0e4;
    list-style: none;
}
#lstFeaturedProperites li span {
    color: #484848;
    font-weight: normal;
}

/*25 dec*/

.form-hdr {
    width: 100%;
    margin: 0;
    padding: 0 1%;
    float: left;
    background: url(../images/form-hdr.png) repeat-x;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #d0d0d0;
    color: #2d3091;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.form-data {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    line-height: normal;
    margin: 0;
    padding: 1%;
    position: relative;
    width: 98%;
    border-radius: 0 0 5px 5px;
}

.div-full3 {
    width: 100% !important;
    margin: 0 0 0 0;
    float: left;
}
.form-data-range2 {
    width: 248px;
    float: left;
    margin: 0 2% 0 0;
    min-height: 80px;
}
.form-data-range2 label {
    color: #585858;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
}
.form-data-range2 span {
    width: 100%;
    float: left;
    margin: 0;
}
.form-data-range2 span input[type="text"] {
    width: 100%;
    float: left;
    border: 1px solid #cfd9db;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0 2px 0;
}
.btn-outer {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-outer input {
    background: none repeat scroll 0 0 #05A0E4;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    width: auto;
    margin-right: 1%;
    cursor: pointer;
}
.form-data-range2 span select {
    width: 100%;
    float: left;
    border: 1px solid #cfd9db;
    border-radius: 5px;
    padding: 9px 15px;
    margin: 5px 0 2px 0;
    line-height: 32px;
}
.panel {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.inlinepop-panel {
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    margin: 5px 0 0;
    width: 100%;
    position: absolute;
    z-index: 99999;
    left: 0;
}
.error {
    display: inline-block;
    position: relative;
    /* width: 40%; */
    font-weight: 500;
    font-size: 12px;
    margin: 0 0 5px 0;
    color: red !important;
}
.bootbox .modal-body {
    background-color: #05A0E4;
    border-radius: 6px 6px 0 0;
    color: #fff;
}
.bootbox .bootbox-close-button {
    color: #fff;
    opacity: 1;
    margin-top: -4px !important;
}
.bootbox .modal-content {
    width: 400px;
    background: transparent;
}
.bootbox .modal-footer {
    background: #fff;
    border-radius: 0 0 6px 6px;
}

/* 30/12/19*/
.section-preference .heading-small{
    background: none repeat scroll 0 0 #4B4EC2;
    color: #fff;
    padding: 12px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.multiselect-native-select .btn-group {
    display: block;
}
.multiselect-native-select ul.multiselect-container {
    width: 100%;
    max-height: 240px;
    overflow: auto;
}
.multiselect-native-select ul.multiselect-container li a{
    white-space: normal;
}
.multiselect-native-select .dropdown-menu>.active>a {
    background-color: unset;
}
.multiselect.dropdown-toggle .caret{
    float: right;
    margin-top: 8px;
}