@-ms-viewport { width: device-width; }
html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline;}
body{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;}
a:hover,a:focus{text-decoration: none; color: #2d3091;}
a,input,button{outline: 0;}
p{ font-size: 15px; color: #3e3e3e; line-height: 27px; margin: 10px 0; }

ul,li{list-style-type:none;}
input[type="checkbox"], input[type="radio"]{display: inline-block; margin: 0;vertical-align: top;}
.container {
    width: 98%;
}
.container-fluid { width: 100%; }
h1,h2,h3,h4,h5,h6 { margin: 0;}

/* Buttons */
.btn {padding: 10px 12px; border-radius: 10px;}
.blue-btn{ background: #05A0E4; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.blue-btn:hover, .blue-btn:focus{ background: #1c91cc; color: #fff;}
.grey-btn{ background: #4d4d4d ; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.grey-btn:hover{ background: #222222; color: #fff;}
.green-btn{ background: #5CB85C ; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.green-btn:hover{ background: #47A447; color: #fff;}
.orange-btn{ background: #F0AD4E ; color: #fff; font-weight: 600; border: none; outline: none; padding: 7px 15px; border-radius: 5px; font-size: 13px;}
.orange-btn:hover{ background: #ED9C28; color: #fff;}

.blue-link { color: #2d3091; }
.blue-link:hover, .blue-link:focus { color: #05A0E4; }
.grid-link { color: #05A0E4; text-decoration: underline; font-size: 13px; font-weight: bold; }
.grid-link:hover { color: #05A0E4; text-decoration: none; font-size: 13px; font-weight: bold; }
/* Buttons */

label {display: inline-block; position: relative; width: 100%; color: #585858; font-weight: 700; font-size: 13px; margin: 0 0 5px 0; }

html, body{ height: 100%;}

#wrapper { width: 100%; margin: 0 auto; min-height: calc(100vh - 41px); float: left;    }
.apxpg-login{ background: #fff;}/*changes to body from .login-bg 23-apr*/
header { background: #d6f0fe; width: 100%; float: left;}
.logo{ float: left; margin: 5px 0; width: 100%;}
.hdr-rt{ float: left; width: 100%; text-align: right; padding: 2% 0;}
.hdr-rt .navbar-default .navbar-nav .open a{ color: #00adee; background: none;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu{ min-width: 106px; left: -13px; padding: 0; background: none;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li{ display: block; text-align: center; border-right: 0; border-bottom: 1px solid #97c1d8;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li a{ color: #fff; padding: 5px 0; display: block;  background: #00adee;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li a:hover{ background: #00a1de; }
.navbar-default{ min-height: auto; margin-bottom: 0; background: none; border: none;}
.hdr-rt .navbar-default .navbar-nav .dropdown-menu li:last-child{ border-bottom: none;}

.hdr-rt .navbar-collapse { padding: 0;}
.hdr-rt .navbar-nav { width: 100%; text-align: right;}
.hdr-rt .navbar-nav li {display: inline-block; margin: 0 0% 0 1%; border-right: 1px solid #b4cad5; padding-right: 1%; float: none; font-size: 13px; font-weight: 600; }
.hdr-rt .navbar-nav li:last-child { border: none;}
.hdr-rt .navbar-nav li a{ color: #000; cursor: pointer;}
.hdr-rt .navbar-nav li .fa { margin-right: 5px;}
.nav li a { display: inline-block; padding: 0px;}
.navbar-header .navbar-toggle .icon-bar{ width: 7px; height: 7px; border-radius: 5px;}

.main-nav{ width: 100%; position: relative;
float: left;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4fc3+0,2d3091+100 */
background: #4c4fc3; /* Old browsers */
background: -moz-linear-gradient(top, #4c4fc3 0%, #2d3091 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4c4fc3 0%,#2d3091 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4c4fc3 0%,#2d3091 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4fc3', endColorstr='#2d3091',GradientType=0 ); /* IE6-9 */}
.main-nav .nav { width: 100%; margin: 0;}
.main-nav .navbar-header .icon-bar{ position: absolute; top: -51px; left: 10px;}
.main-nav .navbar-header .icon-bar .fa{ font-size: 35px; color: #2e3191;}
.main-nav .nav li:after { content:''; height: 100%; width: 1px; background: #4b4ec1; background: -moz-linear-gradient(top, #4b4ec1 0%, #4b4ec1 100%);  background: -webkit-linear-gradient(top, #4b4ec1 0%,#4b4ec1 100%); 
background: linear-gradient(to bottom, #4b4ec1 0%,#4b4ec1 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4ec1', endColorstr='#4b4ec1',GradientType=0 ); 
position: absolute; right: 0; }
.main-nav .nav li:before { content:''; height: 100%; width: 1px;
background: #4b4ec1; background: -moz-linear-gradient(top, #4b4ec1 0%, #2d3092 100%);  background: -webkit-linear-gradient(top, #4b4ec1 0%,#2d3092 100%); 
background: linear-gradient(to bottom, #4b4ec1 0%,#2d3092 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4ec1', endColorstr='#2d3092',GradientType=0 ); 
position: absolute; right: 0; }

.main-nav .nav li a{ color: #fff; line-height: 40px; padding: 0 20px;}
.main-nav .nav li a:hover, .main-nav .nav li a:focus{ background: #4f54d5; color: #fff;}

.main-nav .nav li.active a{ background: #4f54d5; color: #fff;}
.main-nav .nav li.active a:hover{ background: #4f54d5; color: #fff;}
.main-nav .nav li a:hover:after{ width: 100%; background: #30b4fa; content: ""; height: 3px; left: 0; position: absolute; bottom: 0; }
.main-nav .nav li.active a:after{ width: 100%; background: #30b4fa; content: ""; height: 3px; left: 0; position: absolute; bottom: 0; }

.main-nav .nav .nav-close { position: absolute; top: 5px; right: 10px; z-index: 999; cursor: pointer;}
.main-nav .nav .nav-close .fa{ color: #fff; font-size: 30px;}

.welcome-text{ background: #2e3191; color: #fff; padding: 0px 25px; height: 50px; text-align: center;}
.welcome-text a {cursor: pointer;}
.welcome-text a .fa{ color: #fff; font-size: 18px; margin-right: 5px;}
.welcome-text-inner{ display: inline-block; margin-top: 10px;}
.welcome-text div[class^="col-"]{ padding: 0;}
.welcome-text .col-xs-9 { max-width: 300px;}
/*****Left Navigation ****/
#LeftMenu a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

border-bottom: 1px solid #c9c9c9; color: #585858; font-size: 14px; padding: 0;}
#LeftMenu a:hover{ background: #EFF9FF; }
#LeftMenu a.active{ background: #EFF9FF; border-color: #c9c9c9;}
#LeftMenu a .fa{ margin-right: 15px; border-right: 1px solid #c9c9c9; width: 40px; text-align: center; padding: 14px; color: #959595;}
#LeftMenu a:hover .fa{ color: #959595;}
.submenu-outer{ margin-left: 40px;}
#LeftMenu .sub-item{ padding: 14px; background: #fff;}
#LeftMenu .sub-item:last-child{ border-bottom: none;}
.content-data { padding: 15px; float: left; width: 100%; }


/*****Right Quick Links ****/
#RightMenu { display: none; background: #fff; position: absolute; right: 0; max-width: 300px; border: 5px solid #393ca4; z-index: 8; }
#RightMenu h2{background: #e8e8e8;color: #393ca4;padding: 10px;font-size: 16px;text-transform: uppercase;font-weight: 700; }
#RightMenu a {border-bottom: 1px solid #c9c9c9; color: #585858; font-size: 14px; background: #fff;

padding: 10px; }
#RightMenu a:hover{ color: #494cbe; }
#RightMenu a .fa{ margin-right: 15px; border-right: 1px solid #c9c9c9; width: 40px; text-align: center; padding: 14px; color: #959595;}
#RightMenu a:hover .fa{ color: #959595;}
.submenu-outer{ margin-left: 40px;}
#RightMenu .sub-item{ padding: 14px; background: #fff;}
#RightMenu .sub-item:last-child{ border-bottom: none;}

.flex-container {display: flex;}
.main-content{ width: 100%; float: left; min-height: calc(100vh - 40px);}
.main-content-lt { background-color: #fff; min-height: calc(100vh - 40px);}
.main-content-lt, .main-content-rt{ padding: 0; flex: 1 auto;}
.main-tabs{ width: 100%; float: left; position: relative; padding-bottom: 30px;}
.content-rt{ width: 100%;}
.content-rt-hdr { width: 100%; float: left;border-bottom: 1px solid #D8D8D8;padding: 10px; margin-bottom: 15px;}
.content-rt-hdr h3{ font-size: 15px; color: #2d3091;}

.main-tabs .nav-tabs { border-bottom: 1px solid #B7B7B7;}
.main-tabs .nav-tabs li{ margin-bottom: 0;}
.main-tabs .nav-tabs li a {background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #d8f1fe 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#d8f1fe 100%);background: linear-gradient(to bottom, #ffffff 0%,#d8f1fe 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8f1fe',GradientType=0 ); border: 1px solid #b7b7b7; border-radius: 10px 10px 0px 0px; border-bottom: none; color: #4a4ed4; padding: 8px; font-size: 13px; font-weight: 700;}
.main-tabs li a:hover{ background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #d8f1fe 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#d8f1fe 100%);background: linear-gradient(to bottom, #ffffff 0%,#d8f1fe 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8f1fe',GradientType=0 ); border: 1px solid #b7b7b7; border-bottom: none;}
.main-tabs .nav-tabs li.active a, .main-tabs .nav-tabs li.active a:focus, .main-tabs .nav-tabs li.active a:hover{  background: #068ad1; font-weight: 700; color: #fff; border: 1px solid #068ad1; border-bottom: none;}

.sub-tabs .nav-tabs li a {background: #f1f1f1; border: 1px solid #b7b7b7; border-radius: 3px 3px 0px 0px; border-bottom: none; color: #585858; padding: 8px; font-size: 12px; font-weight: 600;}
.sub-tabs .nav-tabs li.active a, .sub-tabs .nav-tabs li.active a:focus, .sub-tabs .nav-tabs li.active a:hover{  background: #ffffff; font-weight: 700; color: #585858; border: 1px solid #b7b7b7; border-bottom: none;}

.tab-content { padding-top: 20px;}

.form-outer{ width: 100%; float: left;}
.form-hdr{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ border: 1px solid #d0d0d0; border-bottom: none; border-radius: 5px 5px 0px 0px; padding: 10px;}
.form-hdr h3{  color: #2d3091; font-size: 15px; font-weight: bold;}
.form-data{ width: 100%; float: left; padding: 15px 0; border: 1px solid #d0d0d0; border-radius: 0px 0px 5px 5px; background: #fff;}

.form-outer div[class^="col-"] {
	min-height: 75px;
}

.left-links{ position: absolute; display: none; left: 0; top: 7px; cursor: pointer; z-index: 9; background: #ddd; padding: 9px; border-radius: 0 5px 5px 0px;}
.left-links i{font-size: 20px;}

.right-links{ position: absolute; background: #d6f0fe; right: 0; top: 7px; cursor: pointer; z-index: 9; padding: 9px; border-radius: 5px 0px 0px 5px;}
.right-links i{font-size: 20px;}
.flex { display: flex; }
footer{ background: #585858; float: left; width: 100%; text-align: center; color: #fff; padding: 12px; font-size: 14px; }

/*****Login Page*****/
.login-data label {
    min-height: 50px;
}
.login-data label label{ min-height: auto;}
.login-bg { min-height: calc(100vh - 40px); display: flex; align-items: center; width: 100%;}
.login-outer{ max-width: 580px; margin: 50px auto;}
.login-logo{ width: 100%; text-align: center;}
.login-logo img{ max-width: 100%;}
.login-inner{ box-shadow: 0 0 2px 3px #EBEBEB; margin-top: 20px; border-radius: 5px; overflow: hidden;}
.login-inner h2{ background: #d6f0fe; color: #2d3091; width: 100%; font-size: 18px; text-transform: uppercase; font-weight: 600; text-align: center; padding: 2% 0;}
.login-data{ padding: 5% 9% 2% 9%; width: 100%; float: left;  background: #fff;}
.login-data input[type="text"] { padding-right: 25px;}
.login-data .form-control{ box-shadow: 0px 0px 15px #DDDDDD inset;}
.remember-psw { float: left; width: 100%;}
.remember-psw-lt{ float: left;}
.remember-psw-rt{ float: right;}
.btn-outer{ width: 100%; margin-top: 10px; float: left;}
/*****Login Page*****/

.bread-search-outer{ border-bottom: 1px solid #D8D8D8; padding: 0 15px 15px 15px; float: left; width: 100%; }
.breadcrumb-outer{ float: left; width: 100%; margin: 15px 0 0 0; font-size: 14px;}
.breadcrumb-outer span{ color: #2d3091;}
.easy-search{ float: right; width: 100%; text-align: right; margin-top: 8px; margin-right: 25px;}
.easy-search input{ border: 1px solid #ddd; border-radius: 10px; padding: 7px; max-width: 200px; width: 100%;}


.grid-outer{ width: 100%; float: left; margin: 0px;}
.grid-outer .table {border-left: 1px solid #ddd; border-top: 1px solid #ddd; margin-bottom: 0;}
.grid-outer .table tr:nth-child(even) { background: #f6f6f6;}
.grid-outer .table tr:hover { background: #EFEFEF;}
.grid-outer .table th{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,efefef+100 */
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 0%, #efefef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefefe 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefefe 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */;
border-right: 1px solid #ddd; font-weight: 600;
}

.grid-outer .table td{ border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; line-height: 20px;  /**override-jqgrid properties**/   white-space: normal !important;
    vertical-align: top !important;}


.accordion-outer { width: 100%; float: left;}
.accordion-grid .accordion-outer #accordion .panel-heading{
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

}

.accordion-form .accordion-outer #accordion .panel-heading {
    position: relative;
    /*background: #fcfcfc; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #fcfcfc 0%,#ededed 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #fcfcfc 0%,#ededed 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); !* IE6-9 *!}*/
    /*line-height: 36px;*/
    border-bottom: 1px solid #d0d0d0;
    color: #2d3091;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%, #dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#dbdbdb', GradientType=0); /* IE6-9 */
    border-bottom: 1px solid #b3b3b3;
}
label.error { color: red; font-size: 12px; font-weight: 500;}
select.error { color: #585858;}




.accordion-form .panel-title { color: #5E5E5E; }
.accordion-form .panel-title a { display: block; color: #2D3091; font-weight: 600; font-size: 15px;}
.accordion-form .panel-title a:hover { color: #2D3091;}
.accordion-form .panel-title a .glyphicon{ font-weight: 700; top: 3px; margin-right: 5px;}
.accordion-grid .panel-title { font-size: 13px; color: #2D3091; font-weight: 600;}
.accordion-grid .panel-title a { display: block; color: #2D3091; font-size: 13px;}
.accordion-grid .panel-title a:hover { color: #2D3091;}




.accordion-outer .panel{ margin-bottom: 20px;}
.accordion-grid .accordion-outer #accordion .panel-heading a.back:hover, .accordion-outer #accordion .panel-heading a.back:focus{color: #2d3091;}
.accordion-form .accordion-outer #accordion .panel-heading a.back:hover, .accordion-outer #accordion .panel-heading a.back:focus{color: #2d3091;}
.accordion-form .panel-heading a.back { color: #2d3091; font-size: 13px; font-weight: 700; position: absolute; right: 10px; top: 10px;}

.pop-add-icon { color: #333;}
.pop-add-icon:hover {color: #333;}
.pop-add-icon .fa { font-size: 16px; }
.status-outer { border: 1px solid #c9c9c9; box-shadow: -1px 1px 7px 2px #DDDDDD inset; width: 100%; float: left;}

.preference-check-inner { width: 100%; float: left; margin: 10px 0 15px 20px; min-height: 30px;}
.preference-check-inner label { font-weight: 400; }
/*****16jan*****/
.add-icon { color: #333; float: left; margin: 6px 1% 1% 2%; width: 5%; }
.add-icon .fa { font-size: 16px; }
.dashboard-graph { width: 100%; margin: 20px 0; float: left; border: 1px solid #d0d0d0; border-radius: 5px;}
.dashboard-graph-hdr {padding: 5px 10px; border-bottom: 1px solid #d0d0d0; background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfcfc 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfcfc 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
border-radius: 5px 5px 0 0; 
}
.dashboard-graph-hdr h3 { line-height: 30px;   color: #2d3091; font-weight: bold; font-size: 15px;}
.dashboard-graph-hdr .blue-btn { margin-bottom: 5px; }
.dashboard-graph-data { background: #fff; padding: 10px; text-align: center; min-height: 320px; border-radius: 0 0 5px 5px;}
.dashboard-graph-data img{ max-width: 100%;}
.setting-image { width: 40px; }
.dash-setting { margin: 10px 0 0 0; }
.notification-icon { position: absolute;right: 25px;top: 11px;}
.content-section { padding-top: 20px; }
.property-status {float: left; width: 100%; padding-bottom: 20px; padding-right: 25px;}
.property-status .btn-outer { margin: 0; }
.atoz-outer { position: absolute; right: 50px; top: 0; font-size: 16px; color: #05A0E4; }
.atoz-outer span{ background: #05A0E4; padding: 5px; color: #fff; margin-left: 5px;}
.atoz-outer2 { width: 100%; float: left; font-size: 16px; text-align: right; margin-top: 15px; color: #05A0E4; }
.atoz-outer2 span#allAlphabet{ background: #05A0E4; padding: 5px; color: #fff; margin-left: 5px;}
.atoz-outer2 span{  padding: 5px; color: #fff; margin-left: 5px;}
.pad-none { padding: 0; }
.red-star { color: red;font-size: 12px; }
.textarea-form { min-height: 110px !important; }
.modal-header {padding: 5px 10px; border-bottom: 1px solid #d0d0d0; background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfcfc 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfcfc 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
border-radius: 5px 5px 0 0;}
.modal-title { color: #2d3091; font-weight: 600; font-size: 15px; }
.modal-header .close{ color: #0d9de3;  opacity: 1; font-weight: 300; border: 1px solid #0d9de3; border-radius: 50%; width: 20px;
height: 20px; line-height: 18px; margin-top: 0;}
.spotlight-pop { width: 800px; }
.modal-body label { font-size: 12px; font-weight: 400; }
.add-input { float: left; width: 90%; }
/*****16jan*****/
/****Toggle Switch ***/
.switch {position: relative; display: inline-block; width: 55px; height: 28px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before {position: absolute; content: ""; height: 20px; width: 20px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }

/* Rounded sliders */
.slider.round { border-radius: 34px;}
.slider.round:before { border-radius: 50%;}
.rating-star .fa-star{ color: #ffe036; font-size: 25px;}
.rating-star .fa-star-o{ font-size: 25px;}
.tab-count { color: #05A0E4; display: block; text-align: center; }

.check-outer{ width: auto; float: left; margin-right: 2%; margin-top: 7px; }
.check-outer input[type="checkbox"], .check-outer input[type="radio"]{ width: auto; float: left; }
.check-outer label{ width: auto; float: left; margin-left: 5px; }
.check-outer em { font-size: 10px; color: #ff0000; font-style: inherit; margin-left: 10px; }

.check-input-outer{ width: auto; float: left; margin-right: 2%; margin-top: 7px; }
.check-input-outer input[type="checkbox"], .check-input-outer input[type="radio"]{ width: auto; display: inline-block; vertical-align: text-top; }
.check-input-outer label{ width: auto; display: inline-block; margin-left: 5px; }
.check-input-outer span { width: auto; display: inline-block; margin-left: 5px; }

.latefee-check-outer { width: 100%; float: left; margin-bottom: 20px; }
.blue-label { color: #2d3091;}

.div-full {width: 100%; float: left; padding: 15px;}
.notes { width: 100%; min-height: 150px; }
.add-icon-textarea {color: #333; position: absolute; right: -2px; bottom: 0;}
.add-icon-textarea .fa { font-size: 16px; }
.dashboard-graph-hdr .blue-btn { font-size: 12px; padding: 7px 10px; }
.mi-name .mi-name-lt{ width: 25%; float: left; }
.mi-name .mi-name-rt{ width: 70%; float: right; }
.upload-logo{ width: 100%; float: left; margin-bottom: 20px; }
.upload-logo .img-outer{ width: 70px; height: 70px; background: #d4d4d4; float: left;}
.upload-logo a{ display: block; float: left; margin: 20px 10px;} 
.upload-logo a .fa{ color: #333; font-size: 18px; margin-right: 5px; }

.upload-logo span{ width: 100%; float: left; }
.collaps-subhdr { width: 100%; float: left;} 
.collaps-subhdr h3{ width: 100%; float: left; border-bottom: 1px solid #ddd; color: #2d3091; font-weight: 700; font-size: 15px; padding-bottom: 5px; margin: 0 0 10px 0; }
.grey-box-add { width: 100%; float: left; margin-bottom: 20px;}
.grey-box-add-inner { width: 100%;  display: flex;
  align-items: center;
  justify-content: center;}
.grey-box-add-lt { width: 95%; flex: 1 auto;  background: #f3f3f3; padding: 20px;}
.grey-box-add-rt { width: 5%; flex: 1 auto; padding-left: 1%;}

.name-id-greybox { background: #f3f3f3; float: left; padding: 20px;}
.name-id-greybox label{ float: left; width: auto; margin: 0; color: #2d3091;}
.name-id-greybox span{ float: left; width: auto;  margin: 0 0 0 5px; line-height: 17px; color: #717171; font-weight: 600;}
.name-id-greybox-inner{ float: left; width: auto; margin: 0 20px 0 0; padding-right: 20px; border-right: 1px solid #adadad;}
.name-id-greybox-inner:last-child{ border: none; margin: 0; padding: 0; }

.photo-upload { background: #f6f6f6; width: 100%; padding: 10px; }
.photo-upload label{ color: #2d3091;  font-weight: 600; width: 50%;}

.check-availability { background: #eef9f9; width: 100%; float: left; padding: 10px; margin-bottom: 20px;}
.text-green {color: #3c763d; margin-right: 10px;}
.text-red { color: #a94442; margin-left: 10px;}
.check-availability .text-green, .check-availability .text-red{ float: left; }
.filter-label { line-height: 30px; text-align: left; width: auto; float: left; }

.view-outer label{ width: 50%; text-align: right; float: left; padding: 5px 10px;}
.view-outer span{ text-align: left; width: 50%; float: left; padding: 5px 0; font-size: 13px;
color: #585858;}

/* start-----raghav  23-01-2018*/
.checkbox-outer { width: 100%;float: left;padding: 0 15px;}
.checkbox-outer label {float: left;width: auto;margin-left: 5px;}
.checkbox-outer input {float: left;}
/* end-----raghav  23-01-2018*/
/* start-----raghav  25-01-2018*/
.easy-search {
    width: 250px;
    float: right;
    border-radius: 20px;
    margin-right: 20px;
}
/* end-----raghav  25-01-2018*/

/* parvesh start 15-04-19 */
.title-color{color: #2d3091 !important; cursor: auto;}
.time-format{  color: #a8a8a8;font-family: 'Merriweather Sans' , sans-serif;font-size: 13px;font-weight: 700  ;}
#cancel_modal .modal-content{border-radius: 2px;} 
#cancel_modal .modal-content .modal-header{background: #05A0E4; border-radius: 0px;} 
#cancel_modal .modal-content .modal-header .modal-title{color: #ffffff;} 
#cancel_modal .modal-content .modal-footer .no-cancel{background: #2A2A2A;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;} 
#cancel_modal .modal-content .modal-footer .yes-cancel{background: #05A0E4;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;} 
#cancel_modal .modal-content .modal-footer{padding: 0px 12px 10px 0px; border-top: 0px;} 
#cancel_modal .modal-content .modal-body{padding-bottom: 5px;} 
#cancel_modal .modal-content .modal-body p{font-size: 12px; vertical-align: middle;} 
#cancel_modal .modal-content .modal-body p img{width: 20px;vertical-align: middle;} 
.add_users_list{display: none;}
.blue-btn{background: #05A0E4; border-radius: 5px; color: #ffffff; font-size: 13px;font-weight: bold; padding: 8px 15px;cursor: pointer;}
#changepassword .modal-footer{text-align: center;}
#changepassword .modal-dialog{max-width: 400px;}
#changepassword .modal-dialog label{font-weight: bold;}
.newapexlinkbtn{margin:15px auto; }
.add_apexlink_new{display: none;}
/* parvesh end 15-04-19 */

.atoz-outer2 .AtoZ{
    background: white;
    color: #05A0E4;
}

.atoz-outer2 .AZ{
    background: white;
    color: #05A0E4;
    cursor:pointer;
}

.AtoZ span{
    background: white;
    color: #05A0E4;
    cursor:pointer;
}

/*Design Fixes 23-Apr*/
/*.login-data{background:#fff;}*/
/*.apxpg-main{background:#e8e8e8;height: 100%;float: left;width: 100%;}*/
/*.apxpg-allcontent,.apxpg-top-search{background:#e8e8e8;}*/
/*.apxpg-allcontent{padding-top:10px;}*/
/*.apxpg-top-search{padding:9px 15px;}*/
/*.apxpg-top-search .easy-search{margin:0;display: block;margin-left:auto;}*/
/*.apxpg-top-search .easy-search input{max-width:initial;}*/
/*Page Tabs Re-styling*/
/*.apx-tabs .tab-content{padding:0}*/
/*Filters Bar*/
/*.apx-filtersbar{box-shadow: -1px 1px 7px 2px #DDDDDD inset;background:#fff;border: 1px solid #c9c9c9;padding: 1% 2% 1% 2%;margin-bottom:5px;}*/
/*.apx-filtersbar .col-sm-2{padding-left:0;}*/
/*.apx-filtersbar .col-sm-10{padding-right:0;}*/
/*.apxpg-title{line-height:30px;font-weight:600;font-size:16px;}*/
/*Theme Table*/
/*.apx-table{background:#fff;padding:15px;border:1px solid #c9c9c9;border-radius:3px;}*/
/*.ui-widget-header{background:url('../images/apex-table-headbg.png') repeat-x !important;height:30px;border-color:#b3b3b3 !important;}*/
/*.apx-table .ui-jqgrid-title,.ui-jqdialog-title {color: #2D3091 !important;line-height: 21px !important;}*/
/*.apx-table .ui-th-column{background: #ffffff !important;*/
/*    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%) !important;*/
/*    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%) !important;*/
/*    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%) !important;*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ) !important;*/
/*    color:#585858 !important;*/
/*}*/
/*.apx-table .ui-th-column div{    margin: 9px 2px !important;}*/
/*.apx-table .ui-widget-content,.apx-table .ui-jqgrid tbody tr{border-color:#b3b3b3 !important;}*/

/*.apx-table .ui-state-default table{border-color:#b3b3b3 !important;}*/
/*.apx-table .ui-pager-control .ui-state-default{border-top: 1px solid #b3b3b3 !important;}*/
/*.apx-table  tr.jqgrow>td{padding:5px !important;}*/
/*.apx-table  .select_options{padding: 3px;height: 26px;}*/
/*.apx-table .ui-pager-control,.ui-widget td.EditButton .fm-button{background: #ffffff !important;*/
/*    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%) !important;*/
/*    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%) !important;*/
/*    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%) !important;*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ) !important;*/
/*    border-color:#b3b3b3 !important;color:#585858 !important;}*/
/*.apx-table .ui-pager-control.ui-icon{color:#585858 !important;}*/
/*.ui-widget-header .ui-icon,.ui-state-default .ui-icon,.apx-table .ui-widget-header .ui-icon,.apx-table .ui-state-default .ui-icon{background-image:url('../images/ui-icons_6da8d5_256x240black.png')!important;}*/
/*.apx-table .ui-jqgrid .ui-jqgrid-bdiv{    width: calc(100% - -1px) !important;}*/
/*.apx-filtersbar .atoz-outer2 .apex-alphabets{background:none;}*/
/*UI Jquery Widget Override*/
/*.ui-widget td{padding:5px;}*/
/*.ui-widget td input[type="text"],.ui-widget td select{border:1px solid #b3b3b3;padding:5px;}*/
/*.ui-widget td.EditButton{float:none !important;text-align:left !important;}*/
/*.ui-widget td.EditButton:last-child{text-align:right !important;}*/
/*.ui-widget td hr{background:#b3b3b3 !important;border-color:#b3b3b3 !important;}*/

/*End Theme Nav*/

/*End Design Fixes 23-Apr*/

/*Design Modifications 24-Apr*/
/*AdForm box*/
/*.apx-adformbox{display:block;margin-bottom:20px;background:#fff;border-radius:5px;border:1px solid #d0d0d0;}*/
/*.apx-adformbox-title{display:flex;background: #ffffff;border-radius:5px 5px 0 0;border-bottom:1px solid #d0d0d0;align-items:center ;*/
/*    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);*/
/*    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);*/
/*    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );*/
/*    height:36px;padding:5px 15px;*/
/*    justify-content: space-between;*/
/*}*/
/*.apx-adformbox-title .back,.apx-adformbox-title .left{color: #2d3091;font-weight: bold;font-size: 15px}*/
/*.apx-adformbox-content{padding:15px;}*/
/*.apx-adformbox-content .form-data{border:0;padding:0;}*/
/*.apx-adformbox-content .div-full{padding-left:0;padding-right:0;margin:0 -15px;}*/
/*.apx-adformbox-content .checkbox-outer{padding-left:0;}*/
/*.apx-adformbox-content textarea{resize:none;}*/
/*.apx-adformbox-content .checkbox-outer label{margin-left:0;}*/
/*.apx-adformbox.shadow{box-shadow: 4px 4px 4px -2px #D2D2D2;-moz-box-shadow: 4px 4px 4px -2px #D2D2D2;-webkit-box-shadow: 4px 4px 4px -2px #D2D2D2;}*/
/*.apx-adformbox .property-status{padding:0;}*/
/*.apx-adformbox .apx-table{border:0;padding:15px 0 0 0;}*/
/*.apx-adformbox .property-status .text-left{padding-left:0;}*/
/*.apx-adformbox .property-status .text-right{padding-right:0;}*/
    /*End AdForm box*/
/*Buttons Block*/
/*.apex-btn-block{display:block;margin:15px 0;}*/
/*.apex-btn-block.left .btn{margin-right:16px;}*/
/*.apxpg-allcontent .content-section{padding-top:0 !important}*/
/*Modal Overwrite*/

/*Flex Filter bar add-on*/
/*.apx-filtersbar.filter-flex .left,.apx-filtersbar.filter-flex{display:flex;justify-content: space-between;align-items:center;}*/
/*.apx-filtersbar.filter-flex .left{flex-basis:220px;justify-content: flex-start !important;}*/
/*.apx-filtersbar.filter-flex .left label{margin-right:15px;flex:0;}*/
/*.apx-plantable table{width:100% !important;}*/
/*.apx-plantable .ui-jqgrid-hdiv thead th:last-child,#Plans-table  tbody tr td:last-child{width:100px !important;}*/
/*.ui-jqgrid-pg-right{text-align:right !important}*/
/*.ui-jqgrid-pg-right .ui-paging-info{float:right;padding-right:10px;}*/
/*.apx-plantable tbody tr td{text-align: left !important;}*/
/*.apx-edt-btn{font-size:14px;color:#2d3091}*/
/*.apx-edt-btn .fa{color:#333;font-weight:bold;}*/
/*.apx-border-row{border-top:1px solid #c9c9c9;margin:15px 0 0;}*/
/*.apx-border-row > div{padding:15px 0 0;}*/
/*.apx-planrows div[class^="col-"]{min-height:auto !important}*/
/*.apx-planrows div.col-md-6 label{text-align: right;    color: #2d3091;font-weight: bold;}*/
/*.apx-planrows div.col-md-6:nth-child(2){padding-left:0;}*/
/*span.error,label.error{min-height: auto !important;    font-size: 11px;color: red;font-weight: normal;    padding: 5px 0;margin:0;}*/
/*.main-content-lt{background:#fff;}*/
/*.apxpg-top-search-inner{padding-top:0;border:0;padding-bottom:0;}*/
/*.apxpg-top-search-inner .col-md-8{padding-left:0;}*/
/*.apxpg-top-search-inner .apxpg-title{font-size:14px;font-weight:normal;}*/
/*.apxpg-title b{color:#2D3091;}*/
/*.content-rt .content-data{padding-top:0;}*/
/*.submenu-outer .sub-item{padding:10px 14px  10px 10px !important; }*/
/*.submenu-outer .sub-item:before{    font: normal normal normal 14px/1 FontAwesome;content: "\f178";margin-right:4px;color:#646363;    overflow: hidden;*/
/*    text-indent: -4px;*/
/*    display: inline-block;*/
/*    width: 15px;*/
/*    line-height: 11px;}*/

/*.sub-item.active{background: #EFF9FF !important;}*/
/*End Design Modifications 24-Apr*/

/*Design Changes 25 April*/
/*.filter-flex.apx-filtersbar .left label{flex-basis: 60px;}*/
/*.ui-jqgrid-hbox{width:100%;}*/
/*End Design Changes 25 April*/


/*Design Changes 29 April Payment Start*/
/*.div-datepicker-from-to { padding: 15px; border: 1px solid #c9c9c9; background: #fff;margin-bottom: 10px;}*/
/*.form-data-range {display: inline-block;}*/
/*.form-data-range label {width: 0px;}*/
/*#hdnFrom,#hdnTo {margin-left: 50px;}*/

/*#cancel_modal1 .modal-content {border-radius: 2px;}*/
/*#cancel_modal1 .modal-content .modal-header{background: #05A0E4; border-radius: 0px;}*/
/*#cancel_modal1 .modal-content .modal-header .modal-title{color: #ffffff;}*/
/*#cancel_modal1 .modal-content .modal-footer .no-cancel{background: #2A2A2A;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;}*/
/*#cancel_modal1 .modal-content .modal-footer .yes-cancel{background: #05A0E4;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;}*/
/*#cancel_modal1 .modal-content .modal-footer{padding: 0px 12px 10px 0px; border-top: 0px;}*/
/*#cancel_modal1.modal-content .modal-body{padding-bottom: 5px;}*/
/*#cancel_modal1 .modal-content .modal-body p{font-size: 12px; vertical-align: middle;}*/
/*#cancel_modal1 .modal-content .modal-body p img{width: 20px;vertical-align: middle;}*/

/*#cancel_modal_add .modal-content {border-radius: 2px;}*/
/*#cancel_modal_add .modal-content .modal-header{background: #05A0E4; border-radius: 0px;}*/
/*#cancel_modal_add .modal-content .modal-header .modal-title{color: #ffffff;}*/
/*#cancel_modal_add .modal-content .modal-footer .no-cancel{background: #2A2A2A;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;}*/
/*#cancel_modal_add .modal-content .modal-footer .yes-cancel{background: #05A0E4;color: #fff;padding: 2px 10px; font-size:12px;border-radius: 0;font-weight: bold;}*/
/*#cancel_modal_add .modal-content .modal-footer{padding: 0px 12px 10px 0px; border-top: 0px;}*/
/*#cancel_modal_add.modal-content .modal-body{padding-bottom: 5px;}*/
/*#cancel_modal_add .modal-content .modal-body p{font-size: 12px; vertical-align: middle;}*/
/*#cancel_modal_add .modal-content .modal-body p img{width: 20px;vertical-align: middle;}*/
/*Design Changes 29 April Payment End*/


.bootbox .modal-dialog{    display: flex;height: calc(100% - 60px);align-items: center;justify-content: center;}
.bootbox .modal-content{width:400px;background:transparent;}
.bootbox .modal-body {background-color: #05A0E4;border-radius:6px 6px  0 0;color:#fff;}
.bootbox .bootbox-close-button{color:#fff;opacity: 1;margin-top: -4px !important;}
.bootbox .modal-footer{background:#fff;border-radius: 0 0 6px 6px;}
.bootbox .modal-footer .btn{border-radius:0;padding:5px 10px;border:0;color:#fff;}
.bootbox .modal-footer .btn-primary{background:#05A0E4;}
.bootbox .modal-footer .btn-default{background:#585858;}
/*.capsOn {text-transform: capitalize;}*/

/*Shrey*/
.list_hide
{
    display:none;
}
.hide_btn{
    display: none;
}


/*Design Changes 06 may Renew Plan Start*/
.greyhdr-box-top {background: none repeat scroll 0 0 #ddd; box-sizing: border-box;float: left; margin-top: 20px; padding: 10px; width: 100%;}
.greyhdr-box-top h2 {float: left; font-size: 18px; font-weight: normal; margin: 3px 0 0; width: auto;}
.greyhdr-box-bot {border: 1px solid #ddd; box-sizing: border-box; float: left; padding: 10px; width: 100%;}

.greyhdr-box-bot label {float: left; font-size: 14px; font-weight: normal; margin: 6px 0 0; width: auto;}
.greyhdr-box-bot span {float: left; font-size: 25px; font-weight: bold; margin: 0 0 0 5px;}
#disable_remove{float: left; margin: 10px 0 0;width: 50px;}
#disable_remove img{width: 100%;}
.renew_plan_data{float: left; margin-left: 15px; width: auto;}
.renew_plan_data h5{font-size: 13px;text-transform: uppercase;margin: 0;font-weight: bold;}
.renew_plan_data table p{margin: 5px 0 0; line-height: normal;}
.renew_plan_data table span{font-size: 13px; font-weight: bold; margin-top: 10px; padding-left: 8px;}
/*Design Changes 06 may Renew Plan End*/

.main-nav .nav li.spotlight-top a:hover:after { background: #70ffbe;}
.main-nav .nav li.spotlight-top.active a:after { background: #70ffbe;}

.main-nav .nav li.company-top a:hover:after { background: #fffc01;}
.main-nav .nav li.company-top.active a:after { background: #fffc01;}

.main-nav .nav li.plan-top a:hover:after { background: #fc1616;}
.main-nav .nav li.plan-top.active a:after { background: #fc1616;}

.main-nav .nav li.payment-top a:hover:after { background: #fc00ff;}
.main-nav .nav li.payment-top.active a:after { background: #fc00ff;}

.main-nav .nav li.announcement-top a:hover:after { background: #70ffbe;}
.main-nav .nav li.announcement-top.active a:after { background: #70ffbe;}

.main-nav .nav li.support-team-top a:hover:after { background: #fbd153;}
.main-nav .nav li.support-team-top.active a:after { background: #fbd153;}

.main-nav .nav li.communication-top a:hover:after { background: #00fffc;}
.main-nav .nav li.communication-top.active a:after { background: #00fffc;}

.main-nav .nav li.audit-trial-top a:hover:after { background: #fff5c5;}
.main-nav .nav li.audit-trial-top.active a:after { background: #fff5c5;}

.main-nav .nav lireports-top a:hover:after { background: #fc1616;}
.main-nav .nav lireports-top.active a:after { background: #fc1616;}


.ui-jqgrid-bdiv { max-height: 450px !important;
    height: auto !important; overflow: auto;}


/*****15May****/
.white-btn-outer {
    float: left; margin: 5px 0 0;  width: 100%; box-shadow: -1px 1px 7px 2px #DDDDDD inset; background: #fff;
    border: 1px solid #c9c9c9; padding: 15px 0; box-sizing: border-box; margin-bottom: 20px;
}
.white-btn-outer a{ margin-right: 10px;}
.apx-table { background: #fff; padding: 15px; border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 4px 4px 4px -2px #d2d2d2;}
.apx-table .ui-widget-header {
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    color: #2D3091;
    font-weight: 600;
    font-size: 11px;
    padding: 10px 5px;
    border-bottom: 1px solid #b3b3b3;
}
.apx-table .ui-jqgrid-hdiv, .apx-table .ui-jqgrid-hdiv th { background: #fff !important; color: #585858 ;     border: 1px solid #ddd; padding: 5px;}
.apx-table .ui-jqgrid td { color: #585858; padding: 5px 10px !important; border: none !important; border-right: 1px solid #ddd !important; border-bottom: 1px solid #ddd !important;}
.apx-table .ui-pg-table tbody tr:last-child {background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    color: #585858;
}
.apx-table .ui-jqgrid-pager { border: none !important;}
.apx-table .ui-jqgrid-pager td{ padding: 0 !important;}
.apx-table .ui-state-default .ui-icon { background-image: url('../images/ui-icons_6da8d5_256x240black.png')!important;}
.apx-table .ui-widget-header .ui-icon,.ui-state-default .ui-icon,.apx-table .ui-widget-header .ui-icon,.apx-table .ui-state-default .ui-icon{background-image:url('../images/ui-icons_6da8d5_256x240black.png')!important;}

.apx-adformbox { background: #fff; float: left; width: 100%; padding: 0px; border-radius: 5px; border: 1px solid #d0d0d0; margin-bottom: 20px;}
.apx-adformbox-title { line-height: 36px; border-bottom: 1px solid #d0d0d0; color: #2d3091; font-weight: bold; font-size: 15px; padding: 0 15px; background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #b3b3b3;}
.apx-adformbox-title .back{ color: #2d3091; float: right; }
.apx-adformbox-content { padding: 15px;}
.online-payment { width: 100%; margin: 0 0 20px 0; font-size: 18px;}
.online-payment a{ text-decoration: underline; font-weight: bold;}
.online-payment a:hover{ text-decoration: underline; color: #337ab7;}

.apx-adformbox .property-status { margin-top: 20px;}
/*****15May****/

/***16May****/
#searchmodfbox_companyUser-table:focus { outline: none;}
#searchmodfbox_companyUser-table .ui-widget-header {
    color: #2D3091;
    border: 1px solid #b3b3b3;
    padding: 10px;
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */ }
#searchmodfbox_companyUser-table .ui-widget-content { border: 1px solid #ccc;}
#searchmodfbox_companyUser-table .ui-widget-content select, #searchmodfbox_companyUser-table .ui-widget-content input[type="text"]{ padding: 5px; border-radius: 5px !important;
    padding: 5px; border: 1px solid #ccc;}
#searchmodfbox_companyUser-table .ui-widget-content select:focus { outline: none;}

#fbox_companyUser-table_reset, #fbox_companyUser-table_search { background: none; border: none; color: #222222; font-size: 11px; font-weight: 400; }

#searchmodfbox_companyUser-table .jqResize { display: none;}
#searchmodfbox_companyUser-table .ui-jqdialog-content td.EditButton-ltr { float: right;}
#searchmodfbox_companyUser-table .ui-widget-header .ui-icon { position: relative;}
#searchmodfbox_companyUser-table .ui-widget-header .ui-icon { background-image:url('../images/ui-icons_6da8d5_256x240black.png')!important;}

#default-settings .form-data-range input{ border-radius: 5px; border: 1px solid #ccc; padding: 10px;}
#searchmodfbox_Payment-table .ui-widget-content select, #searchmodfbox_SupportTeam-table .ui-widget-content select, #searchmodfbox_SupportTeam-table .ui-widget-content input[type="text"], #searchmodfbox_Payment-table .ui-widget-content input[type="text"]{ padding: 5px; border-radius: 5px !important;
    padding: 5px; border: 1px solid #ccc;}
#searchmodfbox_Payment-table .ui-widget-content select:focus, #searchmodfbox_SupportTeam-table .ui-widget-content select:focus { outline: none;}
#searchmodfbox_Payment-table .jqResize, #searchmodfbox_SupportTeam-table .jqResize { display: none;}
.ui-jqdialog-content td.EditButton-ltr { float: right;}
#fbox_Payment-table_reset, #fbox_Payment-table_search { border: none;}
#fbox_Payment-table_reset:hover, #fbox_Payment-table_search:hover, #fbox_Payment-table_reset:focus, #fbox_Payment-table_search:focus { background: none; outline: none; border: none}
#searchmodfbox_Payment-table .ui-widget-header, #searchmodfbox_SupportTeam-table .ui-widget-header {
    color: #2D3091;
    border: 1px solid #b3b3b3;
    padding: 10px;
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */ }

#searchmodfbox_Payment-table:focus, #searchmodfbox_SupportTeam-table:focus { outline: none !important; border: none !important;}
#fbox_SupportTeam-table_reset, #fbox_SupportTeam-table_search { background: none; border: none;}

.ui-widget tbody .jqgfirstrow td {
    padding: 0 !important;
    border: 0 !important;
}
.super-admin .bread-search-outer { padding-left: 0; padding-right: 0;}
.super-admin .easy-search { margin-right: 0;}
.ui-jqgrid-jquery-ui .ui-widget-header {
    color: #2D3091;
    font-weight: bold;
    font-size: 11px;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px;
    background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */ }
.ui-jqgrid-hbox .ui-jqgrid-htable th {
    padding: 10px; font-weight: bold;}
#loadingmessage {
    position: fixed;
    margin: 0 auto;
    top: 0 !important;
    left: 0 !important;
    z-index: 1111111111;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    text-align: center;
    /*display: flex !important;*/
    align-items: center;
}
#loadingmessage img{
    margin: 15% auto 0;
}

.apx-edt-btn{ font-size:14px; color:#2d3091; cursor: pointer;}
.apx-edt-btn .fa{color:#333;font-weight:bold;}
.apx-border-row{border-top:1px solid #c9c9c9; margin: 30px 0 0;}
.apx-border-row > div{padding:7px 0 0;}
.apx-planrows div[class^="col-"]{min-height:auto !important}
.apx-planrows div.col-md-6 label{text-align: right;    color: #2d3091;font-weight: bold;}
.apx-planrows div.col-md-6:nth-child(2){padding-left:0;}

input::-ms-reveal {
    display: none;
}

.modal-footer button {
    float:right;
    margin-left: 10px;
}

#click_here_login_link {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    width: 103%;
    float: left;
}
#click_here_login_link p {
    font-size: 12px;
    margin: 0;
}
#click_here_login_link a {
    color: #040cff;
}

/*
.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-x: inherit;
}
*/
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column { font-size: 12px; font-weight: 700; text-align: left;}

/********Responsive Css Starts ********/
@media only screen and ( max-width: 991px) {
	.login-data .blue-btn { padding: 7px 15px; font-size: 13px; }
	.dashboard-graph-hdr h3 { font-size: 13px;}
	.main-nav .nav li a { padding: 0 10px;}
	.property-status .blue-btn { margin-top: 5px; }
    .apex-alphabets{    float: left;
        margin: 0;
        width: 100%;}
    .AtoZ{display:flex;flex-wrap:wrap;}
    .apx-filtersbar .col-sm-10{padding-right:15px;}
    .apx-filtersbar .col-sm-2{padding-left:15px;}
    .apx-table .ui-jqgrid-pager,.apx-table .ui-jqgrid .ui-jqgrid-bdiv,.apx-table .ui-jqgrid .ui-jqgrid-hdiv{overflow:auto !important;}
    .apx-table .ui-jqgrid table{width:1024px !important;}
    .table-responsive{border-radius:6px !important;}
}
@media only screen and (max-width: 767px) {
    .hdr-rt { width: auto; float: right;}
    .hdr-rt .navbar-toggle{ margin-right: 0; border: none;}
    .hdr-rt .navbar-toggle:hover, .hdr-rt .navbar-toggle:focus{ background: none;}
    .hdr-rt .navbar-toggle .icon-bar{ background: #2e3191;}
    .hdr-rt .navbar-collapse{ position: absolute; min-width: 300px; top: 49px; z-index: 9; width: 100%; right: 0;}
    .hdr-rt .navbar-nav{ margin: 0;}
    .hdr-rt .navbar-nav li { display: block; background: #2d3091; text-align: center; color: #fff; border: 1px solid #4145bd; padding: 5px;}
    .hdr-rt .navbar-nav li a{ color: #fff;}
    .main-nav .nav { padding-top: 30px;}
    .main-nav .nav li a{ display: block; border-bottom: 4px solid #4b4ec1; border-top: none;}
    .main-nav .nav li a:hover{ border-top: none;}
    .main-nav .nav li:last-child a{ border: none;} 
    .main-nav .navbar-collapse{ background: #2d3091; position: fixed; z-index: 99; width: 100%; height: 100%; top:0;}
    .main-nav .navbar-collapse .close {z-index: 9999; cursor: pointer; top: 0; position: absolute; right: 11px; top: 3px; opacity: 1;}
    .main-nav .navbar-collapse .close .fa{ color: #fff; font-size: 25px;}
    .main-nav .navbar-toggle { position: absolute; top: -60px; left: 7px; background: none; border: none;}
    .main-nav .navbar-toggle:hover, .main-nav .navbar-toggle:focus { background: none;}
    .main-nav .navbar-default .navbar-toggle .icon-bar { background-color: #2d3091; width: 35px; height: 5px;}
    .main-tabs .dropdown-menu-right{ padding-bottom: 0; left: 0; right: auto;}
    .main-tabs .dropdown-menu-right li a{ display: block; border: none; border-bottom: 1px solid #ddd; }
    
    .left-links{ display: block; background: #d6f0fe;}
    #LeftMenu{ display: none; position: absolute; left: 0px; z-index: 8; overflow: hidden; width: 85%; max-width: 300px;}
    .logo{ text-align: center;}
    .property-status { padding-right: 0; }
    .property-status .btn-outer { margin-top: 10px; }
    .main-content-lt { min-width: auto; }
	.easy-search input { min-width: auto; width: 100%;}
    .login-logo img{ max-width: 400px; width: 100%; }
	.spotlight-pop { width: 80%; margin: auto;  }
	.bread-search-outer { padding-bottom: 20px;  width: 100%; float: left; margin-bottom: 20px;}

	.atoz-outer { position: relative; width: 100%; right: 0; text-align: right; margin-top: 20px; }
	.main-content-lt { min-height: auto; }
	.check-outer{ margin-right: 10%;}
	.flex { display: inherit; }
	.easy-search { margin-right: 0; text-align: left;}
	.easy-search input { max-width: 200px; }
	.filter-label {  padding-left: 15px;}
	.textarea-form {
    min-height: 100px !important;
}
    /*Design Fixes 23-Apr*/
    .login-inner h2{font-size:15px;}
    .login-outer{max-width:100%;padding-left:15px;padding-right:15px;}
    /*End Design Fixes 23-Apr*/
 }
@media (max-width: 640px){
    .apxpg-top-search{padding-bottom:10px !important;}
    .apxpg-top-search .easy-search{width:100%;}
    .apx-filtersbar .col-sm-10{padding-right:15px;}
    .ui-jqdialog.ui-widget{    max-width: 80%;}
    .ui-widget .group{width:400px}
    .apx-filtersbar{padding:15px;}
}

@media only screen and (max-width: 479px) {
	.remember-psw-rt { float: left; margin-top: 10px; width: 100%;}
	.property-status .btn-outer button { width: 100%; margin-top: 10px; }
	.dashboard-graph-hdr .mob-change { width: 100%; text-align: left; }
	.name-id-greybox-inner { width: 100%; margin: 0; padding: 0; border: none; }
    /*Design Fixes 23-Apr*/
    .login-inner h2{font-size:13px;}
    .atoz-outer2{height:30px;}
    .apx-filtersbar .blue-btn{width:100%;}
    /*End Design Fixes 23-Apr*/
    .filter-flex{flex-direction: column;}
    .apx-filtersbar.filter-flex .left{flex-basis: 100%;margin-bottom:25px;width:100%;}
}
@media only screen and (max-width: 375px) {
    .apx-filtersbar.filter-flex .left{margin-bottom:15px;}
}


  /*Shrey*/


.apexlink_new_view
{
    display:none;
}
.disable_remove_new{float: right!important; }
.disable_remove_new img{width: auto !important;}
div#financial-info .modal-body label {font-size: 13px;font-weight: 700;}
.green_row_left{
    border-left: 3px solid rgb(0, 255, 0) !important;
}

.green_row_right{
    border-right: 3px solid rgb(0, 255, 0) !important;
}
.apx-table .ui-jqgrid .green_row_left{
    border-left: 3px solid rgb(0, 255, 0) !important;
}
.apx-table .ui-jqgrid .green_row_right{
    border-right: 3px solid rgb(0, 255, 0) !important;
}
#financial-info a.close.closeAnnouncement.pop-close {
    border: none;
}
input#expiration_date {
    border: none;
    background: none;
    box-shadow: none;
}
input#expiration_date:focus {
    box-shadow: none;
}
span#expiration_date_label {
    font-size: 13px;
    line-height: 32px;
}
.address1,.address2,.address3,.address4{
    word-break: break-all;
}
/* Outdated browser css*/
.outdated-browser-warning {
    background-color: #05A0E4;
    box-sizing: border-box;
    color: #fff;
    display: none;
    left: 0;
    padding: 2em 1em 1em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000000;
}

.outdated-browser-warning__close {
    position: absolute;
    line-height: 1;
    right: 30px;
    top: 20px
}

.outdated-browser-warning__close:hover {
    text-decoration: none
}

.outdated-browser-warning__close-button {
    color: #fff;
    font-size: 36px;
    text-decoration: none
}

.outdated-browser-warning__title {
    color: #fff;
    font-size: 26px;
    line-height: 32px;
    padding: 0 40px
}

.outdated-browser-warning__contents {
    font-size: 14px;
    font-weight: bold
}

.outdated-browser-warning__contents>a {
    color: #fff;
    text-decoration: underline
}

.outdated-browser-warning__update-link {
    font-size: 20px
}

@media (max-width: 640px) {
    .outdated-browser-warning__update-link {
        display: block
    }
}
a.btn.btn-secondary.outdated-browser-warning__update-link {
    background: #e0e0e0 linear-gradient(180deg,#e5e5e5,#e0e0e0) repeat-x;
    color: #000;
    font-size: 13px;
    padding: 4px 20px;
    border-radius: 4px;
}
p.outdated-browser-warning__contents {
    color: #fff;
}
.ui-jqgrid-btable tbody tr td { text-align: left !important;}
/* Outdated browser css ends*/

#financial-infotype .modal-dialog.modal-md{
    width: 35% !important;
}
.financial-infotype-radio label{
    width: 18%;
}
.financial-infotype-btn{
    text-align: center;
    margin-top: 20px;
}
#financial-infotype .modal-body{
    padding: 22px 15px;
}

/*****1Nov*****/
#financial-company-info .modal-body{
    max-height: 550px;
    overflow: auto;
}
.mt-15 {
    margin-top: 15px;
}

/*26 nov*/
.tooltip1 {
    position: relative;
    display: inline-block;
}
.tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip1:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
}
.date-outer-form {
    width: 100%;
    float: left;
}

.date-outer-form div[class^="col-"] {
   min-height: 55px;
}

.clear-btn {
    background: #4d4d4d;
    color: #fff;
    font-weight: 600;
    border: none;
    line-height: normal;
    outline: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 1%;
}
.help-from-group td {
    padding-bottom: 8px;
}
.help-form-modal .modal-content, .help-form-modal .modal-header, .help-form-modal .modal-body {
    float: left;
    width: 100%;
}
.hdr-rt .navbar-default .navbar-nav .help_class_dropdown .dropdown-menu li a {
    padding: 8px;
    display: inline-block;
    background: rgb(214, 240, 254) none repeat scroll 0% 0%;
    color: rgb(5, 160, 228);
    font-weight: 600;
    border: 1px solid rgb(5, 160, 228);
}

.orange-btn {
    background: #F0AD4E;
    color: #fff;
    font-weight: 600;
    border: none;
    line-height: normal;
    outline: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 13px;
}
.orange-btn {
    background: #F0AD4E;
    color: #fff;
    font-weight: 600;
    line-height: normal;
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 13px;
}

/*5-march-2020*/
.btn-outer-link
{
    margin-top: 23px;
    color: black;
    font-size: 10px;
    float: left;
    width: 100%;
    text-align: center;
    /*font-weight: bold;*/
}
.btn-outer-link a.blue-text {
    color: #2424AA;
    font-size: 10px;
    font-weight: bold;
}
/*End 5-march-2020*/

/*11march20*/
.compose-text-msg{
    padding-top: 50px;
}
.outer-button-custom .btn-group{
    width:30%;
}
.compose-text .to_field{
    margin-bottom: 20px;
}
.outer-button-custom .btn-group .caret{
position: absolute;
right: 4%;
top: 40%;
}
.outer-button-custom .btn-group .multiselect-container{
    width:100%;
}
.show-library-list-imgs-name11{
    word-break: break-all;
}
.show-library-list-imgs-size{
    word-break: break-all;
}