#password_checker label{
    margin-right:5px;
}

#password_checker .short #strength{
    font-weight:bold;
    color:#d00;
    font-size:11.844px;
    position: absolute;
    padding: 2px 4px;
    background-color: #999999;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 2px;
    margin-top: 3px;
}
#password_checker .weak #strength{
    font-weight:bold;
    color:#f3b31a;
    font-size:11.844px;
    position: absolute;
    padding: 2px 4px;
    background-color: #999999;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 2px;
    margin-top: 3px;
}
#password_checker .good #strength{
    font-weight:bold;
    color:limegreen;
    font-size:11.844px;
    position: absolute;
    padding: 2px 4px;
    background-color: #999999;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 2px;
    margin-top: 3px;
}
#password_checker .strong #strength{
    font-weight:bold;
    color: #0d0;
    font-size:11.844px;
    position: absolute;
    padding: 2px 4px;
    background-color: #999999;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 2px;
    margin-top: 3px;
}
span#result.short .bar {
    background: #d00;
    width: 30px;
    height: 2px;
}
span#result.weak .bar {
    background: #f3b31a;
    width: 60px;
    height: 2px;
}
span#result.good .bar {
    background: limegreen;
    width: 90px;
    height: 2px;
}
span#result.strong .bar {
    background:#0d0;
    width: 120px;
    height: 2px;
}
span.fa.fa-fw.fa-eye.field-icon.toggle-password,span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 30px;
    float: none;
    margin: 0;
}
#login span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 10px;
    float: none;
    margin: 0;
}
.intl-tel-input {
    width: 100%;
}
#login span.fa.fa-fw.fa-eye.field-icon.toggle-password {
    right: 5px;
    top: 10px;
}

