/*
 * DOM element rendering detection
 */
@keyframes chartjs-render-animation {
	from { opacity: 0.99; }
	to { opacity: 1; }
}

.chartjs-render-monitor {
	animation: chartjs-render-animation 0.001s;
}

/*
 * DOM element resizing detection
 */
.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
	position: absolute;
	direction: ltr;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
	z-index: -1;
}

.chartjs-size-monitor-expand > div {
	position: absolute;
	width: 1000000px;
	height: 1000000px;
	left: 0;
	top: 0;
}

.chartjs-size-monitor-shrink > div {
	position: absolute;
	width: 200%;
	height: 200%;
	left: 0;
	top: 0;
}
/*
*work on chart css 26-11-19
*/

.listing-download-icon {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 9;
	cursor: pointer;
}

.listing-download-list {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 32px;
	right: 0;
	box-shadow: rgb(136, 136, 136) 3px 3px 10px;
	border: 1px solid rgb(160, 160, 160);
	background: rgb(255, 255, 255);
	min-width: 168px;
	padding: 3px 0px;

}
.listing-download-list{
	display: none;
}
.listing-download-list li{
	list-style-type: none;
	width: 100%;
	float: left;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
	margin: 2px 0;
	padding: 1px 10px;
}
.listing-download-list li:first-child {
	border-bottom: 1px solid #000;
}
.listing-download-list li:hover {
	background-color: #4572a5;
	color: #fff;
}
.listing-download-icon span {
	background: #fff;
	border: 1px solid #fff;
	padding: 3px 5px;
	display: block;
}
.listing-download-icon:hover span{
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #aeceff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fff 0%,#aeceff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fff 0%,#aeceff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#aeceff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #6688aa;
}

/** 12Dec**/

.dashboard-flex-graph { display: flex; flex-wrap: wrap; padding-bottom: 2%; clear: both;}
.dashboard-graph {
	width: 48%;
	margin: 1.5% 1% 0% 1%;
	border: 1px solid
	#d0d0d0;
	border-radius: 5px;
	box-shadow: 4px 4px 4px -2px #D2D2D2;
}
.listing-download-icon {
	right: 3px;
	top: 10px;
}
.listing-download-icon span {
	padding: 2px 3px 1px 3px;
	border-radius: 2px;
}
.listing-download-icon .fa-2x {
	font-size: 1.3em;
}
.dashboard-graph-data {
	position: relative;
	padding: 25px 15px;
}
.listing-download-list li a{ color: #333; }
.listing-download-list li:hover a { color: #fff; }
.dashboard-graph-data .accordion-outer .panel-group {
	margin-bottom: 0;}
.listing-download-list {
	top: 21px;
}
.dashboard-graph-data .listing-download-icon .listing-download-list {
	width: 200px;
}
#unitVacancyChartFilter .form-outer {
	margin-bottom: 0;
}
#unitVacancyChartFilter {
	top: 2	0%;
}



