.smart-move-header {
    padding: 20px 0px 0px;
}
.yellow-button {
    background: #fcd800;
    border: none;
    padding: 4px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    border: 2px solid transparent;
    display: inline-block;
}
.greenplan-button {
    background: none;
    border: 2px solid #00a1d0;
    padding: 4px 28px;
    font-size: 16px;
    text-transform: uppercase;
    color: #00a1d0;
    margin-right: 15px;
}
.greenplan-button:hover {
    background: #00a1d0;
    color: #fff;
}
.yellow-button:hover {
    background: none;
    color: #fcd800;
    border: 2px solid #fcd800;
}
.mr-8 {
    margin-right: 8px;
}
.smart-move-modal .modal-dialog {
    max-width: 88%;
    width: 100%;
}
.smart-move-modal .modal-dialog .smart-move-header {
    padding: 0;
}
.smart-move-modal .container {
    max-width: 100%;
    padding: 0;
}
.d-flex {
    display: flex;
}
.align-item-center {
    align-items: center;
}
.header-bottom {
    margin-top: 20px;
}
.smart-move-modal .modal-header {
    padding: 15px 0px;
    border: none;
}
.header-top {
    padding: 0px 35px;
}
.header-bottom .navbar-collapse {
    padding: 0;
}
.header-bottom  .navbar-nav {
    width: 100%;
}
.header-bottom .navbar-nav li {
    width: 20%;
}
.header-bottom .navbar-nav li a {
    background-color: #ededed;
    color: #333;
    border-right: 2px solid #fff;
    padding: 15px 28px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-top: 4px solid transparent;
}
.header-bottom .navbar-nav li.active a {
    background: #fff;
    color: #00a1d0;
    border-top: 4px solid #00a1d0;
}
.p-0 {
    padding: 0;
}
.main-page-banner {
    background: url("../images/smart-move.jpg");
    height: 600px;
    background-size: cover;
    position: relative;
}
.main-page-banner .main-heading {
    color: #fff;
    font-size: 40px;
}
.main-page-banner:after {
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.main-page-banner .main-page-banner-content {
    position: relative;
    z-index: 1;
    width: 100%;
}
.main-page-banner .main-page-banner-content p {
    color: #fff;
    font-size: 24px;
}
.main-page-banner-content .btn {
    font-weight: bold;
    margin: 8px 0px;
}
.main-page-bottom {
    padding: 35px 35px;
}
.main-page-bottom .main-heading {
    color: #00a1d0;
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main-page-bottom p {
    color: #333;
    font-size: 16px;
    margin-top: 0;
}
.sm-main-heading {
    color: #00a1d0;
    font-weight: 500;
    margin-top: 0;
    font-size: 31px;
    position: relative;
}
.modal-body.sm-signup-form-body {
    border: none;
    padding: 0px 35px;
}
.sm-signup-form-body h4 {
    color: #00a1d0;
    font-size: 20px;
    margin-bottom: 20px;
}
.sm-signup-form-body .form-group {
    margin-bottom: 20px;
}
.sm-signup-form-body label {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.sm-signup-form-body .required {
    color: #f00;
}
.sm-signup-form-body textarea {
    height: 200px;
    resize: none;
}
.smart-move-modal {
    overflow-y: auto;
}
.sm-signup-form-body .form-group button {
    margin-right: .5rem;
}
.text {
    color: #333;
    font-size: 16px;
}
.list {
    margin: 0;
}
.list li {
    color: #333;
    margin-bottom: 8px;
    font-size: 16px;
    list-style: disc;
}
.smart-move-header-black .header-top {
    background-color: #232323;
}
.pt-0 {
    padding-top: 0;
}
.pb-0 {
    padding-bottom: 0;
}
.smart-move-modal .modal-header.pt-0 {
    padding-top: 0;
}
.smart-move-modal .modal-header.pb-0 {
    padding-bottom: 0;
}
.smart-move-header-black .header-top {
    background-color: #232323;
    padding: 15px 35px;
}
.mutistep-form-top {
    padding: 20px 0px;
    background-color: #dddddd;
}
.mutistep-form-top .stepwizard {
    display: table;
    width: 60%;
    position: relative;
    margin: 0 auto;
    /*margin-top: 28px;*/
    padding: 20px 35px;
}
.sm-main-heading.black {
    color: #333;
}
.mutistep-form-top h2.sm-main-heading {
    padding: 0px 35px;
}
.product-edit-icon {
    background-color: #fff;
    padding: 8px 15px;
    border: 2px solid #00a1d0;
    display: inline-block;
    color: #00a1d0;
    margin-left: 8px;
    font-size: 20px;
}
.mutistep-form-top .stepwizard-step p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
}
.mutistep-form-top  .stepwizard-row {
    display: table-row;
}
.mutistep-form-top  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
/*.mutistep-form-top  .stepwizard-row:before {*/
/*    top: 35px;*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*    content: " ";*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: #55606e;*/
/*    left: 0;*/
/*}*/
.mutistep-form-top  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.mutistep-form-top .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px 0;
    font-size: 14px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.mutistep-form-top .btn-circle.btn-primary {
    background-color: #fcd800;
    border-color: #fcd800;
}
.mutistep-form-top-inner {
    background-color: #f4f6f7;
}
.mutistep-form-top form {
    background-color: #fff;
}
.mutistep-form-top label {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.mutistep-form-top label .required {
    color: #f00;
}
.mutistep-form-top .setup-content h3 {
    margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .smart-move-header .d-flex {
        display: block;
    }
    .greenplan-button {
        padding: 4px 10px;
    }
    .smart-move-header .logo {
        margin-bottom: 15px;
        display: inline-block;
    }
    .smart-move-header .navbar-toggle {
        margin-right: 13px;
        background: none;
    }
    .smart-move-header .navbar-toggle .icon-bar {
        background: #fff;
    }
    .header-bottom {
        background-color: #00a1d0;
    }
    .header-bottom .navbar-nav li {
        width: 100%;
    }
    .header-bottom .navbar-nav {
        width: 100%;
        margin: 0;
    }
    .header-bottom .navbar-nav li a {
        border-right: 0;
        border-bottom: 1px solid #fff;
    }
    .header-bottom .navbar {
        margin :0;
    }
    .smart-move-modal .modal-header {
        padding: 15px 0px 0px;
    }
    .main-page-banner {
        height: auto;
        position: relative;
        padding: 80px 0px;
        display: block;
    }
    .main-page-banner .main-page-banner-content {
        margin: 0;
    }
    .main-page-banner .main-heading {
        color: #fff;
        font-size: 31px;
        margin-top: 0;
    }
    .main-page-bottom {
        padding: 20px;
    }
    .main-page-bottom .main-heading {
        margin-top: 0;
    }
    .modal-body.sm-signup-form-body {
        border: none;
        padding: 20px 20px;
    }
}
.setup-content .btn-primary, .newproperty-page .btn-primary{
    color: #000 !important;
    background-color: transparent !important;
    border-color: #cccccc !important;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setupbutton .btn-primary{
    float: right !important;
    width: 6% !important;
    background: #dada08 !important;
    padding: 5px 14px !important;
    border-radius: 0px !important;
    border: 0px !important;
}
.setupbutton-step2 .btn-primary{
    width: 10% !important;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
}
.setup-content3{
    padding: 20px;
}
.setup-content3 h5{
    font-size: 17px;
    color: #000000;
    margin: 0px;
    margin-bottom: 12px;
}
.setup-content3 h4{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.setup-content3 h4 span{
    margin-left: 6px;
    font-size: 14px;
    color: #423f3f;
    font-weight: 400;
}
.setup-content3-item{
    margin: 20px 0px;
}
.setup-content3-item p{
    color: #191313;
    /*font-size: 22px;*/
    font-weight: 500;
}
.setup-content4{
    padding: 20px;
}
.setup-content3-item input[type="radio"]{
    margin-left: 5px !important;
    margin-top: 3px !important;
}
.setup-content3-item em{
    margin-left: 25px;
    font-style: normal;
}
.setup-content3-item span{
    margin-right: 4px;
}
.setupbutton-step4{
    margin-bottom: 20px;
}
.newproperty-modal-setup{
    background-color: #e6f6fb;
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.newproperty-modal-setup h6{
    margin-left: 15px;
    font-size: 14px
}
.addnewproperty-content p{
    margin-top: 20px;
    display: inline-block;
    margin-left: 15px;
}
.newproperty-modal-setup-checkbox{
    display: flex;
    align-items: center;
}
.newproperty-modal-setup-checkbox textarea{
    margin: 0 12px;
}
.newproperty-modal-setup-checkbox input[type=checkbox]{
    margin: -1px 3px 0 0px;
}
.newproperty-page form{
    padding: 20px;
}
.verify-property-heading{
    border-bottom: 1px solid #d6d5d6;
}
.verify-property-heading h4{
    color: #000000;
    font-size: 22px;
    font-weight: 700;
}
.verify-content-verification{
    margin: 50px 0px;
}
.verify-content-verification h4{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}
.verify-content-verification h4 span{
    font-size: 17px;
    color: #000000;
    font-weight: 400;
    margin-left: 10px;
}
.verify-content-verification ul li{
    list-style-type: disc;
    font-size: 17px;
    color: #000000;
    font-weight: 400;
}
.verify-content-verification p{
    float: right;
    font-size: 20px;
    font-weight: 500;
}
.verify-content-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.verify-button{
    background: transparent;
    border: 1px solid #0295be;
    color: #0295be;
    display: flex;
    height: 40px;
    margin: 0 8px;
    font-weight: 600;
    font-size: 14px;
    padding: 0 12px;
    align-items: center;
}
.verify-button:hover{
    background: #fcd800;
    color: #000000;
    border: 1px solid #ffffff;
}
.verify-button i{
    margin-right: 10px;
}
.modal-backdrop.in{
    opacity: -0.5;
}

.newapp-property .mutistep-form-top p{
    margin-left: 15px;
}
.newapp-property textarea{
    display: block;
    width: 100%;
    height: 50px;
}
.addnewproperty-content-firstrow{
    min-height: 100px;
}
.newproperty-feature {
    background: aliceblue;
    padding: 15px;
}
.newproperty-feature h5{
    font-size: 18px;
    font-weight: 500;
}
.newproperty-feature ul{
    padding: 0;
    margin-top: 20px;
    padding-left: 16px;
}
.newproperty-feature ul li{
    margin: 10px 0px;
    list-style-type: disc;
}
.newproperty-feature label{
    margin-top: 15px;
}
.newproperty-feature input[type=radio]{
    margin: 2px 0 0;
}
.newproperty-feature .radio-inline{
    padding-left: 0px;
}
.newproperty-feature em{
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
}
.newproperty-table{
    margin-top: 30px;
}
.newproperty-table table{
    width: 100%;
}
.newproperty-table table th {
    background: #fcd800;
    line-height: 40px;
    padding: 0px 8px;
    font-size: 13px;
    width: 100%;
}
.table-striped{
    background: #e6e6e6;
}
.newproperty-table table tr{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newproperty-table table tr td {
    font-size: 12px;
    padding: 8px;
}
.newapp-coupon label{
    display: flex;
}
.newapp-coupon label input[type=text]{
    width: 80%;
    height: 40px;
    border: 1px solid #000000;
}
.newapp-coupon label button{
    width: 20%;
    background: #fcd800;
    border: 0px;
    height: 40px;
}
.newapp-creditcard{
    margin-top: 20px;
}
.newapp-creditcard .radio-inline{
    margin-left: -18px;
    margin: 10px 0px;
    padding: 0px;
}
.newapp-creditcard input[type=radio] {
    margin: -1px 0 0;
}
.newapp-creditcard em{
    margin-left: 20px;
    font-style: normal;
}
.newproperty-btn{
    display: flex;
    justify-content: flex-end;
}
.blackline{
 background: gray;
}
#welcome-newapp  .modal-body {
    padding: 15px 15px 65px 115px !important;
}
#welcome-newproperty .modal-body{
    padding: 15px 15px 65px 55px !important;
}
.form-group-newarea textarea{
    border: 2px solid #008a00;
    color: #008a00;
}
.income-information input.form-control{
    width: 36%;
}
.income-information .form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setupbutton{
    width: 100%;
    display: inline-block;
} .smart-move-header {
	padding: 20px 0px 0px;
}
.container {max-width: 98%; width: 100%;}
.yellow-button {
    background: #fcd800;
    border: none;
    padding: 6px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 4px;
}
.yellow-button:hover {
    background: none;
    color: #fcd800;
    border: 2px solid #fcd800;
}
.greenplan-button {
    background: none;
    border: 2px solid #00a1d0;
    padding: 6px 28px;
    font-size: 16px;
    text-transform: uppercase;
    color: #00a1d0;
    border-radius: 4px;
}
.greenplan-button:hover, .greenplan-button:focus {
    background: #00a1d0;
    color: #fff;
    border: 2px solid #00a1d0;
}

.mr-8 {
    margin-right: 8px;
}
.smart-move-modal .modal-dialog {
    max-width: 88%;
    width: 100%;
}
.smart-move-modal .modal-dialog .smart-move-header {
    padding: 0;
    background: none;
}
.smart-move-modal .container {
    max-width: 100%;
    padding: 0;
}
.d-flex {
    display: flex;
}
.align-item-center {
    align-items: center;
}
.smart-move-modal  .header-bottom {
    margin-top: 20px;
}
.smart-move-modal .modal-header {
   padding: 15px 0px;
   border: none;
    background: none;
}
.smart-move-modal  .header-top {
    padding: 0px 35px;
}
.smart-move-modal  .header-bottom .navbar-collapse {
    padding: 0;
}
.smart-move-modal  .header-bottom  .navbar-nav {
    width: 100%;
}
.smart-move-modal  .header-bottom .navbar-nav li {
    width: 20%;
}
.header-bottom .navbar-nav li a {
    background-color: #ededed;
    color: #333;
    border-right: 2px solid #fff;
    padding: 15px 28px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-top: 4px solid transparent;
    width: 100%;
}
.header-bottom .navbar-nav li.active a {
   background: #fff;
   color: #00a1d0;
   border-top: 4px solid #00a1d0;
}
.p-0 {
    padding: 0;
}

.modal-backdrop.in {
    opacity: 0.9;
}
.main-page-banner {
   background: url("../images/smart-move.jpg");
   height: 600px;
   background-size: cover;
   position: relative;
}
.main-page-banner .main-heading {
    color: #fff;
    font-size: 40px;
}
.main-page-banner:after {
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.main-page-banner .main-page-banner-content {
    position: relative;
    z-index: 1;
    width: 100%;
}
.main-page-banner .main-page-banner-content p {
    color: #fff;
    font-size: 24px;
}
.main-page-banner-content .btn {
    font-weight: bold;
    margin: 8px 0px;
}
.main-page-bottom {
    padding: 35px 35px;
}
.main-page-bottom .main-heading {
    color: #00a1d0;
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main-page-bottom p {
    color: #333;
    font-size: 16px;
    margin-top: 0;
}
.sm-main-heading {
    color: #00a1d0;
    font-weight: 500;
    margin-top: 0;
    font-size: 31px;
    position: relative;
}
.modal-body.sm-signup-form-body {
    border: none;
    padding: 0px 35px;
}
.sm-signup-form-body h4 {
    color: #00a1d0;
    font-size: 20px;
    margin-bottom: 20px;
}
.sm-signup-form-body .form-group {
    margin-bottom: 20px;
}
.sm-signup-form-body label {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.sm-signup-form-body .required {
    color: #f00;
    width: auto;
}
.sm-signup-form-body textarea {
    height: 200px;
    resize: none;
}
.smart-move-modal {
    overflow-y: auto;
}
.sm-signup-form-body .form-group button {
    margin-right: .5rem;
}
.text {
    color: #333;
    font-size: 16px;
}
.list {
    margin: 0;
}
.list li {
    color: #333;
    margin-bottom: 8px;
    font-size: 16px;
    list-style: disc;
}
.smart-move-header-black .header-top {
 background-color: #232323;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.smart-move-modal .modal-header.pt-0 {
    padding-top: 0;
}
.smart-move-modal .modal-header.pb-0 {
    padding-bottom: 0;
}
.smart-move-header-black .header-top {
    background-color: #232323;
    padding: 15px 35px;
}
.mutistep-form-top {
    padding: 0px 0px;
    background-color: #dddddd;
}
.mutistep-form-top .stepwizard {
    display: table;
    width: 60%;
    position: relative;
    margin: 0 auto;
    /*margin-top: 28px;*/
    padding: 20px 35px;
}
.sm-main-heading.black {
   color: #333;
}
.mutistep-form-top h2.sm-main-heading {
    padding: 20px 35px;
    background: #dddddd;
}
.product-edit-icon {
    background-color: #fff;
    padding: 8px 15px;
    border: 2px solid #00a1d0;
    display: inline-block;
    color: #00a1d0;
    margin-left: 8px;
    font-size: 20px;
}
.mutistep-form-top .stepwizard-step p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
}
.mutistep-form-top  .stepwizard-row {
    display: table-row;
}
.mutistep-form-top  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
/*.mutistep-form-top  .stepwizard-row:before {*/
/*    top: 35px;*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*    content: " ";*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: #55606e;*/
/*    left: 0;*/
/*}*/
.mutistep-form-top  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.mutistep-form-top .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px 0;
    font-size: 14px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    border-color: #333;
    z-index: 9;
    position: relative;
}
.mutistep-form-top .btn-circle.btn-primary {
    background-color: #fcd800;
    border-color: #fcd800;
    z-index: 9;
    position: relative;
}
.mutistep-form-top-inner {
    background-color: #f4f6f7;
}
.mutistep-form-top form {
    background-color: #fff;
}
.mutistep-form-top label {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.mutistep-form-top label .required {
    color: #f00;
    width: auto;
}
.mutistep-form-top .setup-content h3 {
    margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .smart-move-header .d-flex {
    display: block;
}
.greenplan-button {
    padding: 4px 10px;
}
.smart-move-header .logo {
    margin-bottom: 15px;
    display: inline-block;
}
.smart-move-header .navbar-toggle {
    margin-right: 13px;
    background: none;
}
.smart-move-header .navbar-toggle .icon-bar {
    background: #fff;
}
.header-bottom {
    background-color: #00a1d0;
}
.header-bottom .navbar-nav li {
    width: 100%;
}
.header-bottom .navbar-nav {
    width: 100%;
    margin: 0;
}
.header-bottom .navbar-nav li a {
    border-right: 0;
    border-bottom: 1px solid #fff;
}
.header-bottom .navbar {
    margin :0;
}
.smart-move-modal .modal-header {
    padding: 15px 0px 0px;
}
.main-page-banner {
    height: auto;
    position: relative;
    padding: 80px 0px;
    display: block;
}
.main-page-banner .main-page-banner-content {
    margin: 0;
}
.main-page-banner .main-heading {
    color: #fff;
    font-size: 31px;
    margin-top: 0;
}
.main-page-bottom {
    padding: 20px;
}
.main-page-bottom .main-heading {
    margin-top: 0;
}
.modal-body.sm-signup-form-body {
    border: none;
    padding: 20px 20px;
}
}
.setup-content .btn-primary{
    color: #000 !important;
    background-color: transparent !important;
    border-color: #cccccc !important;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.setupbutton .btn-primary{
    float: right !important;
    width: 6% !important;
    background: #dada08 !important;
    padding: 5px 14px !important;
    border-radius: 0px !important;
    border: 0px !important;
}
.setupbutton-step2 .btn-primary{
    width: 10% !important;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
}
.setup-content3{
    padding: 20px;
}
.setup-content3 h5{
    font-size: 17px;
    color: #000000;
    margin: 0px;
    margin-bottom: 12px;
}
.setup-content3 h4{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 30px;
}
.setup-content3 h4 span{
    margin-left: 6px;
    font-size: 14px;
    color: #423f3f;
    font-weight: 400;
}
.setup-content3-item{
    margin: 20px 0px;
}
.setup-content3-item p{
    color: #191313;
    font-weight: 500;
}
.setup-content4{
padding: 20px;
}
.setup-content3-item input[type="radio"]{
    margin-left: 5px !important;
}
.setup-content3-item em{
    margin-left: 25px;
    font-style: normal;
}
.setup-content3-item span{
    margin-right: 4px;
}
.setupbutton-step4{
    margin-bottom: 20px;
}

.companyinformation{
     margin-left: 13px;
     margin-top: 7px;
     display: inline-block;
 }
.mutistep-form-top label{
    font-size: 15px !important;
    font-weight: 500 !important;
}
.setupbutton-radiobutton-label label{
    display: inline-block;
    width: 20%;
}
.setupbutton-radiobutton-label label input[type="radio"] {
    margin: 1px -20px;
}
/****16Oct****/
.verify-content-button{
    width: 100%;
}
.verify-button {
    background: transparent;
    border: 1px solid #0295be;
    color: #0295be;
    display: flex;
    height: 40px;
    margin: 0 8px;
    font-weight: 600;
    font-size: 12px;
    padding: 0 12px;
    align-items: center;
    text-align: left;
}
.form-group{
    height: 70px !important;
}
.newapp-coupon h5{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
}
#step-1 select{
    width: 100%;
    height: 37px;
}
#step-2 select{
    width: 100%;
    height: 34px;
}
#newproperty-modal select{
    width: 100%;
    height: 34px;
}
#newapp-property select{
    width: 100%;
    height: 34px;
}
.eight-fifeteen{
    font-size: 10px;
    margin: 0px;
}
.questionstype{
    margin-left: 10px;
}
.height-auto {
    height: auto !important;
}
.form-group-newarea{
    height: auto !important;
}
.renter-form-application-container{
    border: 2px solid darkgreen;
}
.setupbutton a {
    margin-right:15px;
}
#smartmove_personal_info label .required {
    margin-bottom: 0;
}
#newproperty-modal .required, #newapp-property .required {
    width: auto;
}
#accept_term-error {
    float: left;
    width: 100%;
    position: absolute;
    bottom: -18px;
    left: 0;
    color: #f00;
    font-size: 12px;
    font-weight: 400;
}
.newproperty-modal-setup-checkbox textarea.form-control {
    max-width: 190px;
}
.renter-form-application-container-new {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 18px;
}
.smart-move-modal .modal-header.smart-move-header-top {
    padding-top: 0;
}
.smart-move-header.smart-move-header-pt-0 {
    padding: 0;
}
.setup-content label.error {
    color: #f00;
    font-size: 13px !important;
    margin-top: 8px;
}
#renter_personalInfo_form .dropdown label {
    margin: 0;
}
.income-information input.other-income-control.form-control {
    width: 70%;
}
.smart-move-modal .setup-content {
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}